@import "helper";
.content-thumb-and-detail
{
  width : auto;
  position: relative;
  .thumb-image
  {
    width : auto;
    margin-bottom: 30px;
    //max-height: 500px;
    overflow: hidden;
    img
    {
      width : 100%;
      height: 100%;
    }
  }
  .detail
  {
    width : auto;
    height : auto;
    position: relative;
  }
}
.titleHead
{
  font-family: "UTMAptimaBold";
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  display: block;
  margin : 30px auto;
  color: $olive;
}

.titleContent
{
  font-family: "UTMAptimaBold";
  font-size: 20px;
  line-height: 30px;
  //color: $olive;
  text-align: left;
  padding-bottom: 30px;
}
