@font-face {
  font-family: 'UTMTrajanProBoldRegular';
  src: url("../fonts/UTMTrajanProBoldRegular.eot");
  src: url("../fonts/UTMTrajanProBoldRegular.eot") format("embedded-opentype"), url("../fonts/UTMTrajanProBoldRegular.woff2") format("woff2"), url("../fonts/UTMTrajanProBoldRegular.woff") format("woff"), url("../fonts/UTMTrajanProBoldRegular.ttf") format("truetype"), url("../fonts/UTMTrajanProBoldRegular.svg#UTMTrajanProBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUBelleRegular';
  src: url("../fonts/SFUBelleRegular.eot");
  src: url("../fonts/SFUBelleRegular.eot") format("embedded-opentype"), url("../fonts/SFUBelleRegular.woff2") format("woff2"), url("../fonts/SFUBelleRegular.woff") format("woff"), url("../fonts/SFUBelleRegular.ttf") format("truetype"), url("../fonts/SFUBelleRegular.svg#SFUBelleRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAptimaRegular';
  src: url("../fonts/UTMAptimaRegular.eot");
  src: url("../fonts/UTMAptimaRegular.eot") format("embedded-opentype"), url("../fonts/UTMAptimaRegular.woff2") format("woff2"), url("../fonts/UTMAptimaRegular.woff") format("woff"), url("../fonts/UTMAptimaRegular.ttf") format("truetype"), url("../fonts/UTMAptimaRegular.svg#UTMAptimaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAptimaBold';
  src: url("../fonts/UTMAptimaBold.eot");
  src: url("../fonts/UTMAptimaBold.eot") format("embedded-opentype"), url("../fonts/UTMAptimaBold.woff2") format("woff2"), url("../fonts/UTMAptimaBold.woff") format("woff"), url("../fonts/UTMAptimaBold.ttf") format("truetype"), url("../fonts/UTMAptimaBold.svg#UTMAptimaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAptimaBoldItalic';
  src: url("../fonts/UTMAptimaBoldItalic.eot");
  src: url("../fonts/UTMAptimaBoldItalic.eot") format("embedded-opentype"), url("../fonts/UTMAptimaBoldItalic.woff2") format("woff2"), url("../fonts/UTMAptimaBoldItalic.woff") format("woff"), url("../fonts/UTMAptimaBoldItalic.ttf") format("truetype"), url("../fonts/UTMAptimaBoldItalic.svg#UTMAptimaBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAptimaItalic';
  src: url("../fonts/UTMAptimaItalic.eot");
  src: url("../fonts/UTMAptimaItalic.eot") format("embedded-opentype"), url("../fonts/UTMAptimaItalic.woff2") format("woff2"), url("../fonts/UTMAptimaItalic.woff") format("woff"), url("../fonts/UTMAptimaItalic.ttf") format("truetype"), url("../fonts/UTMAptimaItalic.svg#UTMAptimaItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMTimesBold';
  src: url("../fonts/UTMTimesBold.eot");
  src: url("../fonts/UTMTimesBold.eot") format("embedded-opentype"), url("../fonts/UTMTimesBold.woff2") format("woff2"), url("../fonts/UTMTimesBold.woff") format("woff"), url("../fonts/UTMTimesBold.ttf") format("truetype"), url("../fonts/UTMTimesBold.svg#UTMAptimaItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMTimesItalic';
  src: url("../fonts/UTMTimesItalic.eot");
  src: url("../fonts/UTMTimesItalic.eot") format("embedded-opentype"), url("../fonts/UTMTimesItalic.woff2") format("woff2"), url("../fonts/UTMTimesItalic.woff") format("woff"), url("../fonts/UTMTimesItalic.ttf") format("truetype"), url("../fonts/UTMTimesItalic.svg#UTMAptimaItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMTimesRegular';
  src: url("../fonts/UTMTimesRegular.eot");
  src: url("../fonts/UTMTimesRegular.eot") format("embedded-opentype"), url("../fonts/UTMTimesRegular.woff2") format("woff2"), url("../fonts/UTMTimesRegular.woff") format("woff"), url("../fonts/UTMTimesRegular.ttf") format("truetype"), url("../fonts/UTMTimesRegular.svg#UTMAptimaItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

#loading .overLoading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 99;
  background: #fff;
}

#loading .loadingFlower {
  display: block;
  text-align: center;
  width: 100px;
  position: fixed;
  top: 50%;
  z-index: 9999;
  left: 50%;
  margin-left: -50px;
  margin-top: -60px;
}

.cssload-dots {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
  z-index: 999;
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.cssload-dot:before {
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 49px;
  background: #fbd301;
  position: absolute;
  left: 50%;
  transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

.cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 20.5px;
  height: 20.5px;
  margin-left: -10.75px;
  margin-top: -10.75px;
  animation: cssload-dot-colors 4.6s ease infinite;
  -o-animation: cssload-dot-colors 4.6s ease infinite;
  -ms-animation: cssload-dot-colors 4.6s ease infinite;
  -webkit-animation: cssload-dot-colors 4.6s ease infinite;
  -moz-animation: cssload-dot-colors 4.6s ease infinite;
}

.cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}

.cssload-dot:nth-child(1):before {
  background-color: #bd833a;
  animation: cssload-dot-move 4.6s 0s ease infinite;
  -o-animation: cssload-dot-move 4.6s 0s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}

.cssload-dot:nth-child(2):before {
  background-color: #0b5632;
  animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}

.cssload-dot:nth-child(3):before {
  background-color: #afe102;
  animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}

.cssload-dot:nth-child(4):before {
  background-color: #fbd301;
  animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-68px);
            transform: translateY(-68px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-68px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: #fbd301;
  }
  25% {
    background-color: #bd833a;
  }
  50% {
    background-color: #0b5632;
  }
  75% {
    background-color: #afe102;
  }
  100% {
    background-color: #fbd301;
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: #fbd301;
  }
  25% {
    background-color: #bd833a;
  }
  50% {
    background-color: #0b5632;
  }
  75% {
    background-color: #afe102;
  }
  100% {
    background-color: #fbd301;
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
            transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
            transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
            transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

.libaries_section {
  display: block;
  position: relative;
}

.libaries_section .libaries_yo {
  display: block;
  position: relative;
}

.libaries_section .libaries_yo .libaries_content {
  padding-top: 40px;
}

.libaries_section .libaries_yo .libaries_content .result_filter {
  display: block;
  position: relative;
  width: auto;
  padding-top: 40px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content {
  display: block;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content {
  display: block;
  width: auto;
  /*.product:nth-child(3), .product:nth-child(6)
            {
              margin-right: 32px;
              margin-left: 32px;
              @media screen and (max-width: 894px)
              {
                margin: 5px;

              }
              @media screen and (max-width: 589px)
              {
                margin: 5px auto;
              }
            }*/
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .title, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .title, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .title {
  position: relative;
  display: block;
  padding-bottom: 30px;
  max-width: 275px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .title .text, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .title .text, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .title .text {
  display: inline-block;
  font-family: "UTMAptimaBold";
  font-size: 25px;
  text-align: left;
  color: #5f7835;
  vertical-align: middle;
  padding-right: 15px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .title img.arrow, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .title img.arrow, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .title img.arrow {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  margin-top: 10px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
  width: auto;
  position: relative;
  float: left;
  width: 300px;
  padding-bottom: 48px;
}

@media screen and (max-width: 1027px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
    width: 260px;
  }
}

@media screen and (max-width: 894px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
    margin: 5px;
  }
}

@media screen and (max-width: 589px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
    float: none;
    margin: 5px auto;
    width: 300px;
  }
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product {
  overflow: hidden;
  display: block;
  position: relative;
  height: 180px;
  background: url("../images/libraries-images-thumb.png") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product_1, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product_1, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product_1 {
  background: url("../images/video-1.jpg") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product_2, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product_2, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product_2 {
  background: url("../images/video-2.jpg") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product_3, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product_3, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product_3 {
  background: url("../images/video-3.jpg") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product_4, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product_4, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product_4 {
  background: url("../images/video-4.jpg") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product_5, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product_5, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product_5 {
  background: url("../images/video-5.jpg") no-repeat center;
  background-size: cover;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product img.thumbnail, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product img.thumbnail, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product img.thumbnail {
  display: block;
  min-height: 100%;
  min-width: 100%;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product .hoverMask, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product .hoverMask, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .thumbnail_product .hoverMask .ico, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product .hoverMask .ico, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask .ico {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .title_product {
  position: relative;
  display: block;
  /*font-family: "UTMTimesBold";*/
  /*font-size: 20px;*/
  font-family: "UTMAptimaRegular";
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: black;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 589px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .title_product {
    text-align: center;
  }
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product:hover .hoverMask, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product:hover .hoverMask, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product:hover .hoverMask {
  opacity: 1;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product:hover .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product:hover .title_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product:hover .title_product {
  color: #5f7835;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product:nth-child(3n + 0) {
  margin-right: 32px;
  margin-left: 32px;
}

@media screen and (max-width: 894px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product:nth-child(3n + 0) {
    margin: 5px;
  }
}

@media screen and (max-width: 589px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .product_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product:nth-child(3n + 0), .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product:nth-child(3n + 0) {
    margin: 5px auto;
  }
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
  width: 300px;
}

@media screen and (max-width: 852px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product {
    width: 260px;
  }
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product {
  height: 300px;
}

@media screen and (max-width: 852px) {
  .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product {
    height: 260px;
  }
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product .hoverMask, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask {
  opacity: 1;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .video_content .product .thumbnail_product .hoverMask .ico, .libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask .ico {
  width: 81px;
  height: 81px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask {
  opacity: 0;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask .ico {
  width: 32px;
  height: 32px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .map_content .product .thumbnail_product .hoverMask:hover {
  opacity: 1;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .title {
  position: relative;
  display: block;
  padding-bottom: 30px;
  max-width: 275px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .title .text {
  display: inline-block;
  font-family: "UTMAptimaBold";
  font-size: 25px;
  text-align: left;
  color: #5f7835;
  vertical-align: middle;
  padding-right: 15px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .title img.arrow {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  margin-top: 13px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn {
  display: block;
  position: relative;
  font-family: "UTMAptimaRegular";
  text-align: center;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn .btn {
  -webkit-transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  display: inline-block;
  font-size: 18px;
  line-height: 34px;
  height: 43px;
  text-align: center;
  color: #5f7835;
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid #5f7835;
  background-color: white;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn .btn .arrow {
  -webkit-transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  right: 10px;
  top: -1px;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 10px;
  height: 12px;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn .btn .arrow-hover {
  opacity: 0;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn .btn:hover {
  color: white;
  background-color: #5f7835;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-item .list-btn .btn:hover .arrow.arrow-hover {
  opacity: 1;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-thumb {
  background: url("../images/libraries-doc-thumb.png") no-repeat center center;
  height: 97px;
  background-size: contain;
  border: none;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-thumb:before {
  content: normal;
}

.libaries_section .libaries_yo .libaries_content .result_filter .result_filter_content .doc_content .libraries-lst-title {
  margin-bottom: 15px;
  text-align: center;
  line-height: 26px;
  min-height: 54px;
}

.contentDocument {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.dropdown_content {
  display: inline-block;
  width: 237px;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  margin-left: 20px;
  position: relative;
}

.dropdown_content .dropdown_value {
  font-family: "UTMAptimaItalic";
  font-size: 15px;
  height: 35px;
  text-align: left;
  position: relative;
  border: 1px solid #5f7835;
  border-bottom: 0px solid #5f7835;
}

.dropdown_content .dropdown_value .value {
  padding-left: 10px;
  line-height: 35px;
  display: block;
}

.dropdown_content .dropdown_value .arrow {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown_content .dropdown_value .line {
  position: absolute;
  bottom: 1px;
  width: 0px;
  height: 0px;
  border-bottom: 1px solid #5f7835;
  display: block;
  margin-left: 10px;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
}

.dropdown_content .dropdown_box {
  z-index: 99;
  width: 100%;
  height: 0px;
  position: absolute;
  overflow: hidden;
  background-color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid #5f7835;
  border-top: 0px solid #5f7835;
}

.dropdown_content .dropdown_box .ul-list {
  position: relative;
}

.dropdown_content .dropdown_box .ul-list .li-list {
  display: block;
  font-size: 15px;
  height: 35px;
  padding-left: 10px;
  line-height: 35px;
  position: relative;
}

.dropdown_content .dropdown_box .ul-list .li-list .text {
  display: block;
}

.dropdown_content .dropdown_box .ul-list .li-list .line-li {
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  border-bottom: 1px solid #5f7835;
}

.dropdown_content .dropdown_box .ul-list .li-list:hover .line-li {
  width: 70%;
}
/*# sourceMappingURL=libaries.css.map */