.sight {
    display: block;
    &-inner {
        /*p {
            margin-bottom: 55px;
        }*/
        .title-md {
            margin-bottom: 35px;
            margin-top: 35px;
            font-size: 25px;
            //font-family: 'UTMAptimaBold';
            @media screen and (max-width: 640px){
                font-size: 25px;
                margin: 20px 0;
            }
        }
        &-sum {
            text-align: justify;
            margin-bottom: 55px;
            @media screen and (min-width: 640px){
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 48px;
                -moz-column-gap: 48px;
                column-gap: 48px;
            }
            .title-xs-inner {
                text-align: initial;
            }
            p {
                //display: inline-block;
            }
        }
    }
}

.box-ctn {
    text-align: justify;
}