///https://codepen.io/sho987i/pen/Exogmrx
.text-path {
    /* 日本語の10文字に適用するアニメーション */
    display: block;
    fill: #fff;
    fill-opacity: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
    &.-play {
        opacity: 1;
        $nth: 1;
        $delay: 0;
        @while $nth <= 10 {
            &:nth-child(#{$nth}) {
                animation: dash1 0.7s linear forwards;
                animation-delay: #{$delay}s;
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
            }
            $nth: $nth + 1;
            $delay: $delay + 0.1;
        }
        /* 英語の26文字に適用するアニメーション */
        $nth: 11;
        $delay: 0;
        @while $nth <= 36 {
            &:nth-child(#{$nth}) {
                animation: dash1_en 0.7s linear forwards;
                animation-delay: #{$delay}s;
                stroke-dasharray: 400;
            }
            $nth: $nth + 1;
            $delay: $delay + 0.04;
        }
    }
    &.-reverse {
        opacity: 1;
        $nth2: 1;
        $delay: 0;
        @while $nth2 <= 10 {
            &:nth-child(#{$nth2}) {
                animation: dash1_reverse 0.7s linear reverse;
                animation-delay: #{$delay}s;
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
                stroke-opacity: 0;
            }
            $nth2: $nth2 + 1;
            $delay: $delay + 0.1;
        }
        /* 英語の26文字に適用するアニメーション */
        $nth2: 11;
        $delay: 0;
        @while $nth2 <= 36 {
            &:nth-child(#{$nth2}) {
                stroke-dashoffset: 0;
                stroke: #16bdb3;
                stroke-width: 0;
                fill: #16bdb3;
                fill-opacity: 1;
                animation: dash1_en_reverse 0.7s linear reverse;
                animation-delay: #{$delay}s;
                stroke-dasharray: 200;
                stroke-opacity: 0;
            }
            $nth2: $nth2 + 1;
            $delay: $delay + 0.04;
        }
    }
}

@keyframes dash1 {
    0% {
        stroke-dashoffset: 800;
        stroke-width: 3px;
    }
    50% {
        stroke-dashoffset: 2600;
        stroke-width: 0.1px;
    }
    80% {
        stroke-width: 3px;
        fill: #d2b;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #16bdb3;
        stroke-width: 0;
        fill: #16bdb3;
        fill-opacity: 1;
        stroke-dasharray: 400;
    }
}
@keyframes dash1_en {
    0% {
        stroke-dashoffset: 200;
        stroke-width: 2px;
    }
    50% {
        stroke-dashoffset: 400;
        stroke-width: 0.1px;
    }
    80% {
        stroke-width: 1px;
        fill: #d2b;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #16bdb3;
        stroke-width: 0;
        fill: #16bdb3;
        fill-opacity: 1;
    }
}

@keyframes dash1_reverse {
    0% {
        stroke-dashoffset: 900;
        stroke-width: 3px;
        stroke-opacity: 0;
    }
    50% {
        stroke-opacity: 1;
        stroke-dashoffset: 1600;
        stroke-width: 0.1px;
    }
    50.1% {
        stroke-dashoffset: 900;
    }
    80% {
        stroke-width: 3px;
        fill: rgb(184, 22, 206);
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #16bdb3;
        stroke-width: 0;
        fill: #16bdb3;
        fill-opacity: 1;
        stroke-dasharray: 400;
    }
}
@keyframes dash1_en_reverse {
    0% {
        stroke-dashoffset: 300;
        stroke-width: 2px;
        stroke-opacity: 0;
    }
    50% {
        stroke-opacity: 0;
        stroke-dashoffset: 400;
        stroke-width: 0.1px;
    }
    50.1% {
        stroke-dashoffset: 300;
    }
    80% {
        stroke-width: 1px;
        fill: rgb(184, 22, 206);
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #16bdb3;
        stroke-width: 0;
        fill: #16bdb3;
        fill-opacity: 1;
    }
}
