.box-number{
    position: relative;
    display: inline-block;
    margin-top : rem(10);
    &__number{
        font-size: rem(82);
        @include fontMontserrat;
        font-weight: 700;
        color : #fff;
        text-align: left;
        text-transform: uppercase;
        text-shadow: 3px 3px 0 #d5d5d5;
    }
    &__title{
        font-size: rem(24);
        text-align: left;
        @include fontComfortaa;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom : rem(10);
    }
    &__detail{
        @include fontMontserrat;
        font-weight: 500;
        color : #fff;
        text-align: left;
        font-size: rem(18);
        padding-bottom: rem(15);
    }
}