.card-item {
    display: block;
    width: 100%;
    position: relative;
    &:hover{
        .card-item__title{
            color : #16bdb3;
        }
        .card-item__thumb{
            img{
                transform: scale(1.05);
            }
        }
    }
    &__link{
        position: absolute;
        z-index: 2;
        top : 0;
        left : 0;
        bottom : 0;
        right : 0;
    }
    &__thumb {
        width: 100%;
        height: rem(252);
        border-radius: rem(15);
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
        }
        margin-bottom: rem(15);
    }
    &__tag {
        padding-bottom: rem(10);
        display: block;
    }
    &__tag-item {
        display: inline-block;
        @include fontMontserrat;
        font-weight: 500;
        font-size: rem(12);
        color: rgba(22, 189, 179, 1);
        line-height: 1;
        white-space: nowrap;
        padding: rem(5) rem(7);
        border: 1px solid rgba(22, 189, 179, 1);
        border-radius: rem(40);
        margin-right: rem(10);
    }
    &__title {
        @include fontMontserrat;
        font-size: rem(18);
        color: rgba(51, 51, 51, 1);
        font-weight: 700;
        line-height: 1.25;
        padding-bottom: rem(15);
        transition: all 0.25s ease-in-out;
    }
    &__desc {
        & > p {
            @include fontMontserrat;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            font-size: rem(16);
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            position: relative;

            line-height: 1.3;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 !important;
            -webkit-line-clamp:  3!important;
            line-clamp: 3 !important;
        }
    }
}
