.headline-common{
    font-size: rem(45);
    color : #eb4747;
    text-align: left;
    @include fontAntonio;
    font-weight: 100;
    display: inline-block;
    margin : 0;
    line-height: 1.35;
    text-transform: uppercase;
}