.index-caption{
    &__text{
        display: block;
        @include fontMontserrat;
        font-size: rem(12);
        font-weight: 400;
        color : #1F2656;
        line-height: 1.25;
        letter-spacing: rem(6);
        margin : 0;
        padding-bottom : rem(6);
    }
}