.section-headline {
    padding-left: rem(75);
    padding-bottom: rem(17);
    position: relative;
    &__headline-btn {
        top: rem(25);
        right: rem(134);
        position: absolute;
    }
}