.slider-nav {
    position: absolute;
    z-index: 0;
    height: rem(1024);
    width: rem(1440);
    left: rem(-154);
    top: rem(-686);
    bottom: 0;
    right: 0;
    $root: &;
    text-align: left;
    transform-origin: 50% 50%;
    transform: rotate(270deg);
    user-select: none;
    &__text {
        @include fontMontserrat;
        font-size: rem(14);
        font-weight:  600;
        line-height: 1;
        padding : rem(2) 0;
        letter-spacing: rem(5);
        color: #1f2656;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        width: auto;
        opacity: 0;
        position: absolute;
        left: rem(20);
        top: rem(3);
        filter : blur(4px);
        transition: filter 0.25s ease-in;
    }
    &__dot {
        width: rem(6);
        height: rem(6);
        display: inline-block;
        vertical-align: middle;
        background-color: #bdbdbd;
        border-radius: 50%;
        opacity: 1;
    }
    &__item {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: rem(18);
        &.active {
            #{$root} {
                &__text {
                    opacity: 1;
                    filter: blur(0);
                }
                &__dot {
                    width: rem(10);
                    height: rem(10);
                    background-color: #1f2656;
                    transition: all 0.35s ease-in;
                }
            }
        }
    }
}

.nav-section{
    &__wrapper{
        position: absolute;
        top : 0;
        left : 0;
        width: rem(135);
        height: 100vh;
        z-index: 5;
        overflow: hidden;
    }
}