{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main">
		{% include '_components/top-banner.twig' %}
		{% include '_components/about-me.twig' %}
		<section class="s-showcase">
			<div class="marquee-text__wrapper">
				<div class="marquee-text__inner">
					<div class="marquee-text__content -right">
						{% for i in 0..18 %}
							<p>Showcase</p>
							<p>&#9728;</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="s-showcase__container container">
				<div class="s-showcase__headline">
					<h4 class="headline-common">
						My works.
					</h4>
				</div>
				<div class="s-showcase__content">
					<div></div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{% block after_js %}
	<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
	<!-- Load Tilt.js library -->
	<script src="{{assets_url}}/js/home.js"></script>
{% endblock %}
