{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main">
		<div class="background-main">
			<canvas id="bg-cv" data-src="{{assets_url}}/models/skull/skull.obj" data-env="{{assets_url}}/env/empty_warehouse_01_1k.hdr"></canvas>
		</div>
		{# {% include '_components/top-banner.twig' %} #}
		
	</main>
{% endblock %}
{% block after_js %}
	<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
	<!-- Load Tilt.js library -->
	<script src="https://fariskassim.com/stage/rebel9/teaf/blob/v4/js/perlin.js"></script>
	<script src="{{assets_url}}/js/home.js"></script>
{% endblock %}
