{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main">
		<div class="circle-black-outer">
			<div class="circle-black ">
				<div class="mouse_scroll">
					<div class="mouse">
						<div class="wheel"></div>
					</div>
					<div>
						<span class="m_scroll_arrows unu"></span>
						<span class="m_scroll_arrows doi"></span>
						<span class="m_scroll_arrows trei"></span>
					</div>
				</div>
			</div>
		</div>
		{% include '_components/top-banner.twig' %}
		{% include '_components/about.twig' %}
		{% include '_components/skills.twig' %}
		{% include '_components/projects.twig' %}
	</main>
{% endblock %}
{% block after_js %}
	<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
	<!-- Load Tilt.js library -->
	<script src="https://fariskassim.com/stage/rebel9/teaf/blob/v4/js/perlin.js"></script>
	<script src="{{assets_url}}/js/home.js"></script>
{% endblock %}
