

@font-face {
  font-family: 'SFUFuturaRegular';
  src: url('../fonts/SFUFuturaRegular.eot');
  src: url('../fonts/SFUFuturaRegular.eot') format('embedded-opentype'),
  url('../fonts/SFUFuturaRegular.woff') format('woff'),
  url('../fonts/SFUFuturaRegular.ttf') format('truetype'),
  url('../fonts/SFUFuturaRegular.svg#SFUFuturaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaHeavy';
  src: url('../fonts/SFUFuturaHeavy.eot');
  src: url('../fonts/SFUFuturaHeavy.eot') format('embedded-opentype'),
  url('../fonts/SFUFuturaHeavy.woff') format('woff'),
  url('../fonts/SFUFuturaHeavy.ttf') format('truetype'),
  url('../fonts/SFUFuturaHeavy.svg#SFUFuturaHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaBook';
  src: url('../fonts/SFUFuturaBook.eot');
  src: url('../fonts/SFUFuturaBook.eot') format('embedded-opentype'),
  url('../fonts/SFUFuturaBook.woff') format('woff'),
  url('../fonts/SFUFuturaBook.ttf') format('truetype'),
  url('../fonts/SFUFuturaBook.svg#SFUFuturaBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

$EasingQuadIn: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$EasingCubicIn: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$EasingQuartIn: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$EasingQuintIn: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$EasingSineIn: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$EasingExpoIn: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$EasingCircIn: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$EasingBackIn: cubic-bezier(0.600, 0, 0.735, 0.045);

$EasingQuadOut: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$EasingCubicOut: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$EasingQuartOut: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$EasingQuintOut: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$EasingSineOut: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$EasingExpoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$EasingCircOut:cubic-bezier(0.075, 0.820, 0.165, 1.000);
$EasingBackOut: cubic-bezier(0.175, 0.885, 0.320, 1);

$EasingQuadInOut: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$EasingCubicInOut: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$EasingQuartInOut: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$EasingQuintInOut: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$EasingSineInOut: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$EasingExpoInOut: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$EasingCircInOut: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$EasingBackInOut: cubic-bezier(0.680, 0, 0.265, 1);
$EasingOut: cubic-bezier(.37,.15,.32,.94);


@mixin TransitionWithDurationAndEase($duration, $easing) {
    -webkit-transition: all $duration $easing;
    -moz-transition: all $duration $easing;
    -ms-transition: all $duration $easing;
    -o-transition: all $duration $easing;
    transition: all $duration $easing;
}


@mixin TransitionWithDurationAndEase_delay($duration, $easing, $delay) {
    -webkit-transition: all $duration $easing $delay;
    -moz-transition: all $duration $easing $delay;
    -ms-transition: all $duration $easing $delay;
    -o-transition: all $duration $easing $delay;
    transition: all $duration $easing $delay;
}


@mixin centerTransformOrigin {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@mixin transformScale($scale){
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin animation($name, $dur, $easing, $delay, $repeat, $direction, $fillMode, $state){
    /* @keyframes name | duration | timing-function | delay |
       iteration-count | direction | fill-mode | play-state */
    /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/

    -webkit-animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
    -moz-animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
    animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
}


@mixin font($fontName, $fontSize, $fontColor){
    font-family: $fontName;
    font-size: $fontSize;
    color:$fontColor;
}


@mixin fontNoColor($fontName, $fontSize, $lineHeight, $padding, $marginBottom){
    font-weight: normal;
    font-family: $fontName;
    font-size: $fontSize;
    line-height: $lineHeight;
    padding: $padding;
    margin-bottom: $marginBottom;
}

@mixin fontStyle($fontName){
    font-family: $fontName;
}

@mixin textGradient($fromColor, $toColor){
    //font-size: $fontSize;
    background: -webkit-linear-gradient($fromColor, $toColor);
    background: linear-gradient($fromColor, $toColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin color-blue{
    color: #0b77be;
}

@mixin background-blue{
    background: #0b77be;
}

$blue: #0b77be;
$gold : #ffc20e;
$blue_fillter : #43a4dc;
$blue_text : #282863;
$color_title : white;
@mixin line-sm-bt{
    display: block;
    height: 1px;
    width: 155px;
    margin: 10px auto 0;
    @include background-blue;
}
@mixin ace_title()
{
    font-family: "SFUFuturaRegular", sans-serif;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 50px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
    color: $color_title;
    font-weight: normal;
    @media screen and (max-width : 520px )
    {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    @media screen and (max-width : 340px )
    {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 20px;
    }
}
@mixin ace_description()
{
    font-family: "SFUFuturaRegular", sans-serif;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    color: $color_title;
    @media screen and (max-width : 520px )
    {
        font-size: 20px;
        line-height: 26px;
    }
}
@mixin ace_line()
{
    font-family: "SFUFuturaRegular", sans-serif;
    display: block;
    width : 157px;
    margin:  0 auto;
    border: 1px solid $color_title;
}




