<section class="s-about">
	<div class="s-about__container">
        <div class="s-about__detail">
            <h4 class="headline-common">.About Me</h4>
            <span class="spacing"></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </div>
    </div>
</section>
