<section class="s-about">
	<div class="js-about-start-trigger"></div>
	<div class="s-about__container container">
		<div class="s-about__headline">
			<h4 class="headline-common">.About Me</h4>
		</div>
		<div class="s-about__detail">
			<div class="s-about__text">
				<p>
					Lorem Ipsum is <span class="-underline-effect">simply dummy</span> text of the printing and typesetting <span class="-underline-effect">industry</span>. Lorem Ipsum has been the industry's standard dummy text ever since the <span class="-underline-effect">1500s</span>, when an unknown printer took a galley of type.
				</p>
			</div>
		</div>
	</div>
</section>
