<section class="s-aboutus">
	<div class="marquee-text__wrapper">
		<div class="marquee-text__inner">
			<div class="marquee-text__content">
				{% for i in 0..18 %}
					<p>About Me</p>
					<p>&#9728;</p>
				{% endfor %}
			</div>
		</div>
	</div>
	
</section>
