<section class="s-aboutus">
	<div class="marquee-text__wrapper">
		<div class="marquee-text__inner">
			<div class="marquee-text__content">
				{% for i in 0..18 %}
					<p>About Me</p>
					<p>&#9728;</p>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="s-aboutus__container container">
		<div class="s-aboutus__headline">
			<h4 class="headline-common">
				About Me ?
			</h4>
		</div>
		<div
			class="s-aboutus__context">
			<div class="box-context">
				<div class="box-context__inner">
					<div class="box-context__detail">
						<h3>Bio :</h3>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
					{# <div class="box-context__detail">
						<h3>Experience in years :</h3>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									8+
								</div>
								<div class="box-number__title">
									HTML to CSS
								</div>
								<div class="box-number__detail">
									"From a landing page website to EDM website,<br/>
									Put your crazy ideal and let make it become reality."
								</div>
							</div>
						</div>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									6+
								</div>
								<div class="box-number__title">
									Javascript - Jquery
								</div>
								<div class="box-number__detail">
									"From Haters to lovers"
								</div>
							</div>
						</div>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									4+
								</div>
								<div class="box-number__title">
									Figma - PTS
								</div>
								<div class="box-number__detail">
									"With it, Designer and me became BFF"
								</div>
							</div>
						</div>
                        <div>
							<div class="box-number">
								<div class="box-number__number">
									4
								</div>
								<div class="box-number__title">
									SourceTree - git control software
								</div>
								<div class="box-number__detail">
									"Since 2021, I started to use git cmd instead SourceTree."
								</div>
							</div>
						</div>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									2
								</div>
								<div class="box-number__title">
									Pixi js - Phaser js
								</div>
								<div class="box-number__detail">
									"You wanna build a mini game ?<br/>
									Let's do it !"
								</div>
							</div>
						</div>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									1+
								</div>
								<div class="box-number__title">
									THREE JS
								</div>
								<div class="box-number__detail">
									"Do you like a magic show ?"
								</div>
							</div>
						</div>
						<div>
							<div class="box-number">
								<div class="box-number__number">
									2+
								</div>
								<div class="box-number__title">
									React / Redux
								</div>
								<div class="box-number__detail">
									"Still learning but will accept any challenge"
								</div>
							</div>
						</div>
					</div> #}
				</div>
			</div>
		</div>
	</div>
</section>
