<section class="s-projects">
	<div class="s-projects__block">
		<div class="s-projects__container container">
			<div class="s-projects__title-section">
				<h4 class="title-section">
					SHOW
				</h4>
			</div>
			<div class="s-projects__title-section">
				<h4 class="title-section">
					case
				</h4>
			</div>
            <div class="s-projects__timeline">
                <p>2022</p>
                <span class="s-projects__timeline-space"></span>
                <p>2022</p>
            </div>
		</div>
	</div>
    <div class="s-projects__block -project-1 js-project-1">
        <div class="s-projects__decor -decor-1"></div>
        <div class="js-start-trigger-project-1"></div>
        <div class="s-projects__container container">

        </div>
    </div>
</section>
