<section class="s-skills">
	<div class="js-skills-start-trigger"></div>
	<div class="s-skills__container container">
		<div class="s-skills__headline">
			<h4 class="headline-common">skills/Experienced.</h4>
		</div>
		<div class="s-skills__detail">
			<span>Html,</span>
			<span>CSS,</span>
			<span>SCSS,</span>
			<span>Javascript,</span>
			<span>Jquery,</span>
			<span>Figma,</span>
			<span>PTS</span>
		</div>
		<div class="s-skills__headline">
			<h4 class="headline-common">skills/Self-study.</h4>
		</div>
		<div class="s-skills__detail">
			<span>Nextjs,
			</span>
			<span>Reactjs,
			</span>
			<span>Redux,
			</span>
			<span>THREEjs,
			</span>
			<span>Phaserjs,
			</span>
			<span>Pixijs
			</span>
		</div>
		<div class="s-skills__headline">
			<h4 class="headline-common">skills/Source-control.</h4>
		</div>
		<div class="s-skills__detail">
			<span>Sourcetree,
			</span>
			<span>github,
			</span>
			<span>gitlab
			</span>
		</div>
	</div>
</section>
