<section class="s-top-banner">
	<div class="js-swipe-start-trigger"></div>
	<div class="top-banner__wrapper">
		<div class="top-banner__content">
			<div class="top-banner__detail ">
				<div class="">
					<h4 class="top-banner__headline js-headline-1">
						Minh Vu ( Yo )
					</h4>
				</div>
				<div class="">
					<h4 class="top-banner__headline js-headline-2">
						Front end <br class="-visible-820"/> developer
					</h4>
				</div>
				<div class="-right">
					<h4 class="top-banner__text-med js-headline-3">
						09 / nov / 1993
					</h4>
				</div>
				<div class="-right">
					<h4 class="top-banner__headline js-headline-4">
						Based in <br class="-visible-820"/> Ho Chi Minh
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>
