.footer {
    background-color: rgba(22, 189, 179, 1);
    padding: rem(40) 0px rem(30) 0px;
    position: relative;
    &__container {
        width: rem(1220);
        margin: 0 auto;
        text-align: left;
    }
    &__side {
        display: inline-block;
        vertical-align: top;
        &.-logo {
            width: rem(300);
            box-sizing: border-box;
            padding-right: rem(20);
            img {
                max-width: 100%;
            }
        }
        &.-list-link {
            box-sizing: border-box;
            padding-left: rem(20);
            padding-right: rem(20);
            width: rem(300);
            a {
                @include fontMontserrat;
                font-weight: 700;
                color: #fff;
                text-decoration: none;
                font-size: rem(19);
                line-height: 1.2;
                display: block;
                margin: rem(15) 0;
                text-transform: uppercase;
                &:visited {
                    color: #fff;
                }
            }
        }
        &.-subscribe {
            width: rem(600);
            padding-left: rem(40);
            box-sizing: border-box;
            h4 {
                @include fontMontserrat;
                font-weight: 700;
                font-size: rem(20);
                line-height: 1.35;
                color: #fff;
            }
            .input-wrapper {
                display: block;
                width: 100%;
                position: relative;
                padding-top: rem(10);
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin : auto;
                    width: rem(18);
                    height: rem(12);
                    background: url("../../assets/images/icon/ico-ar-right-white.png") no-repeat center;
                    background-size: contain;
                }
                input {
                    width: 100%;
                    background-color: transparent;
                    border: 0px solid transparent;
                    border-bottom: 1px solid #fff;
                    padding: rem(5) rem(5);
                    @include fontComfortaa;
                    font-size: rem(14);
                    color: #fff;
                    &::placeholder {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.copyright {
    padding-top: rem(20);
    &::before{
        position: absolute;
        left : 0;
        right : 0;
        transform: translateY(rem(-20));
        background-color: #fff;
        height: 1px;
        content : '';
        display: block;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    &__left {
        float: left;
        @include fontMontserrat;
        font-weight: 500;
        font-size: rem(12);
        color: #fff;
    }
    &__right {
        float: right;
        a {
            display: inline-block;
            @include fontMontserrat;
            font-weight: 500;
            font-size: rem(12);
            color: #fff;
            margin-left : rem(10);
        }
    }
}
