.header {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    right: 0;
    height: rem(60);
    background-color: #fff;
    transition: all 0.25s ease-in-out;
    &.stick{
        -webkit-box-shadow: 0px 3px 13px 0px rgba(176, 176, 176, 0.25);
        -moz-box-shadow: 0px 3px 13px 0px rgba(176, 176, 176, 0.25);
        box-shadow: 0px 3px 13px 0px rgba(176, 176, 176, 0.25);
    }
    &__container {
        width: rem(1320);
        margin: 0 auto;
        position: relative;
        height: 100%;
        padding-top: rem(20);
        padding-bottom: rem(20);
    }
    &__menu-left {
        position: absolute;
        top: rem(10);
        left: 0;
        .btn-common {
            min-width: rem(120);
        }
    }
    &__menu-right {
        position: absolute;
        top: rem(20);
        right: 0;
        bottom: rem(20);
    }
}

.logo-header {
    position: absolute;
    width: rem(120);
    height: rem(35);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    img {
        width: 100%;
        height: auto;
    }
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: rem(25);
    height: rem(25);
    cursor: pointer;
    img {
        width: 100%;
    }
}
