@import "helper";
@import "nus_effect_btn";

@font-face {
  font-family: 'StackyardPERSONALUSE';
  src: url('../fonts/StackyardPERSONALUSE.woff') format('woff'),
  url('../fonts/StackyardPERSONALUSE.ttf') format('truetype'),
  url('../fonts/StackyardPERSONALUSE.svg#StackyardPERSONALUSE') format('svg');
  src: url('../fonts/StackyardPERSONALUSE.eot');
  src: url('../fonts/StackyardPERSONALUSE.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StackyardPERSONALUSE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.v02-alinecenter{
  text-align: center;
}
.v02-mg-top110{
  margin-top: 110px;
}
.v02-mg-top70{
  margin-top: 70px;
}
.v02-mg-top40{
  margin-top: 40px;
}
.v02-mg-top20{
  margin-top: 20px;
}
.v02-mg-bottom21{
  margin-bottom: 21px;
}
.v02-mg-left56{
  margin-left: 56px;
}
.v02-mg-left25{
  margin-left: 25px;
}
.v02-mg-top10{
  margin-top: 10px;
}
.v02-mg-right15{
  margin-right: 15px;
}
.v02-mg-top85{
  margin-top: 85px;
}
.v02-mg-bottom10{
  margin-bottom: 10px;
}
.v02-mg-bottom20{
  margin-bottom: 20px;
}
.v02-mg-bottom30{
  margin-bottom: 30px;
}
.v02-mg-bottom56{
  margin-bottom: 56px;
}
.v02-mg-left12{
  margin-left: 12px;
}
.v02-mg-right20{
  margin-right: 20px;
}
.v02-mg-top100{
  margin-top: 100px;
}
.v02-mg-top15{
  margin-top: 15px
}
.v02-mg-bottom37{
  margin-bottom: 37px;
}
$clBlue : #013064;
.v02-clBlue{
  color: $clBlue;
}
.v02-clGray{
  color: #b6b6b6;
}
.v02-clGrayPro{
  color: #868585;
}
.v02-fn43{
  font-size: 43px;
  @media screen and (max-width: 640px) {
    font-size: 21px;
  }
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
.v02-fnfmHel{
  font-family: HelveticaBt , sans-serif;
}
.v02-fnfmStack{
  font-family: StackyardPERSONALUSE;
}
.v02-fn130{
  font-size: 130px;
  @media screen and (max-width: 768px) {
    font-size: 65px;
  }
  @media screen and (max-width: 640px) {
    font-size: 44px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}
.v02-fn25{
  font-size: 25px;
}
.v02-fn24{
  font-size: 24px;
}

.v02-fn15{
  font-size: 15px;
}
.v02-fn14{
  font-size: 14px;
}
.v02-clYellow{
  color: #f2a466;
}
.v02-inlineBlock{
  display: inline-block;
}
.v02-block{
  display: block;
}
.v02-btn-entre{
  overflow: hidden;
  color: #fff;
  background: #b7b7b7;
  min-width: 150px;
  max-width: 320px;
  display: inline-block;
  margin: 1em;
  margin-bottom: 0;
  &:first-child{
    background: #EF7B00;
    &::before{
      display: none;
    }
  }
  &:last-child{
    margin-bottom: 1em;
  }
//  padding: 1em 5em;
  width: 90%;
  padding: 1em 0;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  border: none;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &::before{
    display: block;
    content: '';
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: -50%;
    right: 0;
    width: 200%;
    height: 200%;
    background: #EF7B00;
    z-index: -1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &:hover::before{
    top: -50%;
    visibility: visible;
    opacity: 1;
  }
}
.v02-ico-button{
  position: relative;
  border-radius: 8px ;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8x;
  border: 2px solid #fff;
  padding: 0;
  display: inline-block;
}

.v02-inner-ico-button{
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  &::before{
    content: '';
    width: 6px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 30%;

    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
    transform: rotate(-135deg);
  }
  &::after{
    content: '';
    width: 6px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 30%;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
}
.v02-ico-pre{
  border-radius: 28px ;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border: 2px solid #948d88;
  padding: 15px 12px 24px 12px;
  position: absolute;
  top: 50%;
  left: -2%;
  cursor: pointer;
  z-index: 2;
  @media screen and (max-width: 1024px) {
    left: 0;
  }
}
.v02-inner-ico-pre{
  width: 28px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: relative;
  &::before,&::after{
    content: '';
    width: 16px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: -2px;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
  &::after{
    bottom: -5px;
    left: -2px;
    top:inherit;
    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
    transform: rotate(-135deg);
  }
}
.v02-ico-next{
  @extend .v02-ico-pre;
  left: inherit;
  right: -2%;
  @media screen and (max-width: 1024px) {
    right: 0;
  }
}
.v02-inner-ico-next{
  @extend .v02-inner-ico-pre;
  &::before{
    left: inherit;
    right: -2px;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  &::after{
    left: inherit;
    right: -2px;

    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
  }
}
.v02-content_banner1{
  padding: 195px 0;
  padding-left: 56px;
}
.v02-h2-entrep{
  font-size: 50px;
  color: #fff;
  font-weight: normal;
}
$clBlack : #383838;
.v02-clBlack{
  color: $clBlack;
}
.v02-fn44{
  font-size: 44px;
}
.v02-fn25{
  font-size: 25px;
}
.v02-fn35{
  font-size: 35px;
}
$clwhite: #fff;
.v02-clWhite{
  color: $clwhite;
}
.v02-txt-con{
  font-size: 16px;
}

.v02-entrep .v02-owl-controls {
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  >.v02-owl-dots {
    bottom: auto;
    width: auto;
    .v02-owl-dot {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;
      background: #fff;
      opacity: .2;
      margin: 0 5px;
    }
    .v02-active{
      background: #fff;
      opacity: 1;
    }
  }
  @media screen and (max-width: 767px){
    > .v02-owl-dots {
      .v02-owl-dot {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        width: 30px;
        height: 30px;
        > span {
          width: 24px;
          height: 24px;
          top: 1px;
          left: 1px;
        }
      }
    }
  }
}

.v02-shadow:first-child{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 0px;
  float: left;
  z-index: -1;
  margin-top: 0;
  margin-left: 7px;
  -webkit-box-shadow: -20px 0px 20px 0px rgba(150, 150, 150, 0.3);
  -moz-box-shadow:    -20px 0px 20px 0px rgba(150, 150, 150, 0.3);
  box-shadow:         -20px 0px 20px 0px rgba(150, 150, 150, 0.3);

  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
}
.v02-shadow:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 0px;
  float: right;
  z-index: -1;
  margin-top: 0;
  margin-right: 7px;
  -webkit-box-shadow: 20px 0px 20px 0px rgba(150, 150, 150, 0.3);
  -moz-box-shadow:    20px 0px 20px 0px rgba(150, 150, 150, 0.3);
  box-shadow:         20px 0px 20px 0px rgba(150, 150, 150, 0.3);

  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(8deg);
}
.v02-banner1{
  background: url('../images/noc-programes/NOC-group-shot.jpg') no-repeat center center;
  background-size: cover;
  padding: 25px 0 556px 0;
  overflow: hidden;
  position: relative;
}
.v02-svg-left,.v02-svg-right{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.v02-svg-right{
  right: 0;
  left: inherit;
}
#v02-noc-pro{
  .v02-wrapper{
    position: relative;
    display: block;
    max-width: 10000px;
    width: 100%;
    font-size: 0px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    @media screen and (max-width: 1024px){
      padding: 0 20px;
    }
  }
}
#v02-noc-pro {
  #v02-noc{
    .v02-wrapper{
      .v02-banner-home-item{
        .v02-container{
          .v02-home-item-inner{
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
#v02-noc-pro #v02-noc .v02-banner-home{

}
#banner1 .v02-v02container{
  max-width: 10000px;
}
#support{
  margin-top: -50px;
}
#support .v02-container{
  padding: 0;
  background: #fff;
}

.v02-DnavSup{
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(19,115,159,1);
  background: -moz-linear-gradient(top, rgba(19,115,159,1) 0%, rgba(2,52,92,1) 50%, rgba(2,52,92,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,115,159,1)), color-stop(50%, rgba(2,52,92,1)), color-stop(100%, rgba(2,52,92,1)));
  background: -webkit-linear-gradient(top, rgba(19,115,159,1) 0%, rgba(2,52,92,1) 50%, rgba(2,52,92,1) 100%);
  background: -o-linear-gradient(top, rgba(19,115,159,1) 0%, rgba(2,52,92,1) 50%, rgba(2,52,92,1) 100%);
  background: -ms-linear-gradient(top, rgba(19,115,159,1) 0%, rgba(2,52,92,1) 50%, rgba(2,52,92,1) 100%);
  background: linear-gradient(to bottom, rgba(19,115,159,1) 0%, rgba(2,52,92,1) 50%, rgba(2,52,92,1) 100%);
  filter: progid:DXImageTransformMicrosoft.gradient( startColorstr='#13739f', endColorstr='#02345c', GradientType=0 );
}

.v02-navSup{
  width: 100%;
  font-family: ", "Helvetica Neue;
  font-size: 16px;
  color: #fff;
  border-top: 4px solid #1A9CCB;
  ul{
    list-style-type: none;
    text-align: center;
    padding: 14px 10px 0 10px;
  }
  li{
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 4px solid #EE7C00;
  }
}
.v02-entrep .v02-col-4{
  width: 23.96%;
}
.v02-imgIniti{
  background: url('../images/entrep/img-1-initi.png') no-repeat center center;
  padding: 144px 0 ;
  background-size: cover;
}

.v02-highLight{
  background: orchid;
}
.v02-bg-white{
  background: #fff;
}

.v02-imgHightlight{
  background: url('../images/entrep/img-1-highlight.png') no-repeat center center;
  padding: 87px 0 87px 46px !important;
  text-align: left;
  background-size: cover;
}
.v02-imgHightlightSmall{
  text-align: left;
  padding: 0 0 12px 0 !important;
  img {
    height: 100%;
  }
}
.v02-btnHighlight{
  @include buttonHover(#fff , #fff , #003061);
  //@include buttonHover(#fff, #fff, #000);
  background: transparent;
  padding: 10px 30px;
  &:before{
    background: #003061;
  }
}
.v02-fnWb{
  font-weight: bold;
}
.v02-fnNor{
  font-weight: normal;
}
.v02-highLight .v02-col-4{
  width: 23.96%;
}




//runway
.v02-clBlackRunway{
  color: #333333;
}
.v02-clGrayRunway{
  color: #717171;
}
#runway{
  @media screen and (max-width: 1024px) {
    padding: 0 12px;
  }
}
#runway .v02-banner1{
  background: url('../images/noc-programes/NOC-group-shot.jpg') no-repeat center center;
  background-size: cover;
  padding: 25px 0 556px 0;
  overflow: hidden;
}

#runway{
  margin-top: -190px;
  .v02-highLight{
    background: #fff;
  }
}
.v02-inner_wrapper{
  position: relative;
  display: block;
  max-width: 880px;
  width: 100%;
  font-size: 0px;
  margin: auto;
  padding: 0;
  text-align: center;
}
.v02-thumbOverview{
  vertical-align: middle;
  width: 30%;
  float: left;
  @media screen and (max-width: 768px) {
      float: none;
  }
}
.v02-inner_overview{
  vertical-align: middle;
  width: 70%;
  text-align: left;
  float: left;
  @media screen and (max-width: 768px) {
    float: none;
    width: 100%;
  }
//  padding: 65px 0 65px 40px;
  padding: 7.71% 0 7.71% 6.2%;
}
.v02-lineheight20{
  line-height: 20px;
}
.v02-lineheight40{
  line-height: 40px;
}
#support .v02-col-4{

}
#runway{
  $wWight : 8.3333%;
  .v02-col-3{
    width: $wWight * 3;
    padding: 0 10px;
  }
  .v02-col-4{
    width: $wWight * 4;
    padding: 0 10px;
  }
}
#runway{
  .v02-btn-entre{
    width: 100%;
    min-width: inherit;
    max-width: inherit;
    padding: 1.5em 5em;
    @include TransitionWithDurationAndEase(.5s, $EasingCubicInOut);
    &::before{
      width: 100%;
      content: normal;
    }
    &:hover{
      background: #F3AB00;
      @include TransitionWithDurationAndEase(.5s, $EasingCubicInOut);
    }
  }
}
#runway{
  .v02-inner-ico-button::after{
    right: 23%;
  }
}
#runway{
  #business{
    ul,li{
      list-style-type: disc;
      width: 59%;
      margin: 0 auto;
    }
  }
}
.v02-tabActiveHeader{
  color: #fff;
  font-size: 15px;
  position: relative;
  &::after{
    background: url('../images/spaces/ico-rowbottom.png') no-repeat center center;
    content: '';
    display: block;
    width: 18px;
    height: 14px;
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -9px;
  }
}
#v02-tabscontent{
  position: relative;
  width: 73.94%;
  padding-left: 20px;
  ul{
    -webkit-padding-start: 0;
    color: #2b2b2b;
  }
  ul,li{
    list-style-type: disc;
    font-size: 19px;
  }
  @media screen and (max-width: 768px){
    width: 100%;
  }
}
.v02-liTab{
  cursor: pointer;
}

.v02-tabpage{
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  -ms-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
  text-align: left;
}

#v02-tabs {
  ul{
    margin-top:30px;
  }
  li{
    padding: 0 5px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
.v02-tabPanel{
  background: #EF7B00;
  text-align: center;
  color: $clwhite;
  padding: 8px;
  width: 170px;
  height: 170px;
  position: relative;
  img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  p{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
    font-size: 18px;
  }
}
#v02-main{
  position: relative;
  display: block;
  max-width: 1090px;
  font-size: 0px;
  margin: auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

// Programes
.v02-clBluePro{
  color: #003d7c;
}
.v02-clBlackPro{
  color: #2b2b2b;
}
.v02-clBlue2Pro{
  color: #003062;
}
.v02-clGray2Pro{
  color: #a2a1a1;
}
.v02-clGrayFooter{
  color: #555555;
}
.v02-clGrayFooter2{
  color: #999999;
}
.v02-fn40{
  font-size: 40px;
}
.v02-fn16{
  font-size: 16px;
}
.v02-fn18{
  font-size: 18px;
}
.v02-fn21{
  font-size: 20.61px;
}
.v02-fn22{
  font-size: 22px;
}
.v02-fn14{
  font-size: 14px;
}

#tabscontent{
  ul,li{
    list-style-type: disc;
    margin: 0 auto;
  }
}
.v02-verticalMiddle{
  vertical-align: middle;
}
.v02-curPoint{
  cursor: pointer;
}
.v02-firstImgNews{
  height: 208.813px;
}
.v02-nearFoot{
  width: 100%;
  background: #002449;
}
.v02-mainFoot{
  position: relative;
  display: block;
  max-width: 1090px;
  font-size: 0px;
  margin: auto;
  padding: 0;
  text-align: left;
  overflow: hidden;
  padding: 20px 0;
  @media screen and (max-width: 1024px) {
    padding: 20px 12px;
  }
}
.v02-menuTab{
  width: 26.06%;
  border: 1px solid #e2e2e2;
  border-top: none;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  @media screen and (max-width: 768px){
    width: 100%;
    margin-top: 0;

  }
}
//#main{
//  .v02-btn-entre{
//    min-width: 150px;
//    max-width: 240px;
//    padding: 1.v02-5em 0.v02-5em;
//  }
//}
.v02-pdBottom40{
  padding-bottom: 40px;
}

//adapt noc-langding
#v02-noc-pro{
  #v02-noc{
    .v02-wrapper{
      .v02-content{
        max-width: 1090px;
      }
    }
  }
}
#v02-tabContainer{
  text-align: left;
}
#v02-noc-pro{
  #v02-noc{
    .v02-wrapper{
      .v02-banner-left{
        top:72px;
      }
      .v02-banner-right{
        top:72px;
      }
    }
  }
}
#v02-noc-pro{
  .v02-background-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

#v02-noc-pro #v02-noc .v02-banner-home-item .v02-container .v02-home-item-inner{
  margin: 0;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 10%;
  }
}
#v02-noc-pro #v02-noc .v02-wrapper-noc{
  z-index: 2;
}
#v02-noc-pro #v02-noc .v02-wrapper-noc .v02-content{
  margin: 0 auto;
}
#v02-noc .v02-wrapper-noc .v02-content{
  margin: 0 auto;
}
#v02-noc-pro .v02-col-6{
  width: 50%;
  padding: 0;
  @media screen and (max-width: 768px) {
    width: 100%;
    img{
      width: 100%;
    }
  }
}
#v02-noc-pro .v02-nav-header{
  margin-top: 8px;
}





