@import "helper";
$green-light-noc-ld : #93ca01;
$green-noc-ld  : #6a9836;
$green-dark-noc-ld  : #365b0b;
$green-line : #527c22;

.v02-bottom-nav-item.v02-menu-responsive-noc-landing
{
  display: none;
  @media screen and (max-width: 794px)
  {
    display: block;
  }
}
.owl-prev.style, .owl-next.style {
  position: absolute;
  padding: 24px;
  /*top: -24px;*/
  left: -36px;
  cursor: pointer;
  text-indent: -9999px;
  font-size: 0;
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    top: 61%;
    left: 0;
    @include rotate(-45deg);
    background-color: #24bdbb;
    height: 4px;
    width: 30px;
    margin-top: -12px;
    @include radius(10px);
  }
}

.owl-prev.style {
  @media screen and (max-width : 552px) {
    left : 0;
    z-index : 99;
  }
  &:after {
    @include rotate(45deg);
    top: 100%;
  }
}

.owl-next.style {
  left: auto;
  right: -36px;
  @media screen and (max-width : 552px) {
    right : 0;
    z-index : 99;
  }
  &:before, &:after {
    left: auto;
    right: 0;
    @include rotate(45deg);
  }
  &:after {
    @include rotate(-45deg);
    top: 100%;
  }
}

a
{

  text-decoration: none;
  list-style-type: none;
}

#v02-noc
{
  position: relative;
  display : block;
  width : auto;
  height : auto;


  .v02-mySlice {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }


  .v02-banner-home {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;

    &-img {
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }


      @media screen and (min-width: 1024px){
        image {
          clip-path:url(#v02-myMask);
        }
      }
    }

    .v02-mask-overlay {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

    }

    &-wrap {
    }
    &-item {
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      background-size: cover;
      height: 708px;
      width: 100%;
      .v02-container {
        display: block;
        height: 100%;
        padding: 0;
        .v02-home-item-inner {
          display: table;
          text-align: center;
          //width: 100%;
          height: 100%;
          margin: 0 5%;
          &-ctn {
            display: table-cell;
            vertical-align: middle;
            .v02-title-lg {
              color: $white;
              @media screen and (max-width: 640px){
                margin-bottom: 10px;
                font-size: 22px;
              }
            }
            .v02-title-xs {
              font-size: 26px;
              color: $white;
              @media screen and (min-width: 992px){
                margin: 0 22%;
              }
              @media screen and (max-width: 992px){
                font-size: 18px;
              }
              @media screen and (max-width: 640px){
                font-size: 14px;
              }
            }
          }

          @media screen and (max-width: 640px){
            margin: 0 15%;
          }

        }
      }
    }

    //.owl-controls {
    .owl-nav {
      position: absolute;
      top: 44%;
      z-index: 2;
      width: 100%;
      //height: 20px;

      .owl-prev, .owl-next {
        display: block;
        background: url("../images/ico/banner-top-left.png") no-repeat 0 0;
        -webkit-background-size: 100%;
        background-size: 100%;
        width: 72px;
        height: 72px;
        text-indent: -9999px;
        position: absolute;
        left: 3%;
        top: -36px;
        @include TransitionWithDurationAndEase(.2s, $EasingOut);
        &:hover {
          left: 2.6%
        }

        @media screen and (max-width: 1023px){
          width: 36px;
          height: 36px;
        }

      }

      .owl-next {
        background: url("../images/ico/banner-top-right.png") no-repeat 0 0;
        -webkit-background-size: 100%;
        background-size: 100%;
        left: auto;
        right: 3%;

        &:hover {
          left: auto;
          right: 2.6%;
        }
      }
    }


    .owl-dots {
      display: block;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      @media screen and (max-width: 640px){
        bottom: 0;
      }
    }
    //}

    /*@media screen and (max-width: 1023px){
        -webkit-clip-path: none;
        -moz-clip-path: none;
        -ms-clip-path: none;
        -o-clip-path: none;
        clip-path: none;
    }*/

    @media screen and (max-width: 640px){
      margin-bottom: 20px;
    }

  }

  .v02-wrapper-noc
  {
    position: relative;
    .v02-banner-left
    {

      position: absolute;
      top : 32px;
      left : 0;
      z-index : -1;
      img
      {
        width : 100%;
      }
      @media screen and (max-width: 1036px)
      {
        display: none;
      }
    }
    .v02-banner-right
    {

      position: absolute;
      top : 32px;
      right : 0;
      z-index : -1;
      img
      {
        width : 100%;
      }
      @media screen and (max-width: 1036px)
      {
        display: none;
      }
    }
    .v02-content
    {
      z-index : 1;
      position: relative;
      max-width: 1240px;
      margin: 5px auto;
      background-color: white;
      @media screen and (max-width: 1600px)
      {
        max-width: 1024px;
      }
      @media screen and (max-width: 1378px)
      {
        max-width: 900px;

      }
      @media screen and (max-width: 1200px)
      {
        max-width: 800px;
      }
      .v02-nav-header
      {
        position: relative;
        width : auto;
        height : auto;
        background-color: $green-light-noc-ld;

        .v02-menu-responsive
        {
          display: none;
          @media screen and (max-width: 794px)
          {
            /*display: block;*/
          }
          .v02-ul-menu-res
          {
            position: relative;
            display: block;
            .v02-li-menu-res
            {
              display: block;
              position: relative;
              width : auto;
              height : auto;
              color : white;
              vertical-align: middle;
              cursor: pointer;
              position: relative;
              padding-right: 22px;
              padding-left: 22px;
              a
              {
                color : white;
                border-bottom : 1px solid white;
              }

              .v02-menu-child
              {
                display: block;

              }

            }
            .v02-li-menu-res:last-child
            {
              border-bottom: 0px solid white;
            }
            .v02-text
            {
              display: block;
              font-size: 24px;
              font-family: "Helvetica";
              text-align: center;
              line-height: 66px;
              height : 66px;
              position: relative;
              padding-left: 10px;
              padding-right: 10px;
              @media screen and (max-width: 1378px)
              {
                font-size: 18px;
              }
            }
            .v02-arrow-down
            {
              background: url("../images/arrow.png") no-repeat center;
              background-size : contain;
              width : 14px;
              height : 8px;
              position: absolute;
              right : 15px;
              top : 0;
              bottom : 0;
              margin-top : auto;
              margin-bottom: auto;
            }

          }
        }

        .v02-menu-header:after
        {
          content : "";
          clear: both;
          display: block;

        }
        .v02-menu-header
        {
          font-size: 0;
          display: block;
          max-width: 1016px;
          margin: 0 auto;
          position: relative;
          @media screen and (max-width: 794px)
          {
            display: none;
          }
          .v02-menu-item
          {
            float : left;
            margin : 0;
            display: block;
            width : auto;
            height : auto;
            color : white;
            vertical-align: middle;
            cursor: pointer;
            position: relative;
            padding-right: 22px;
            padding-left: 22px;

            a
            {
              color : white;
            }

            .v02-menu-child
            {
              position: absolute;
              width : auto;
              height: 0px;
              bottom : 0;
              background-color: $green-noc-ld;
              color : white;
              overflow: hidden;
              left : 32px;
              z-index : 999;
              opacity: 0;
              @include TransitionWithDurationAndEase(0.85s, $EasingExpoOut);
              .v02-li-menu-child
              {
                white-space: nowrap;
                min-width: 180px;
                font-size: 18px;
                line-height: 54px;
                height: 54px;
                text-align: left;
                display: block;
                padding: 0 40px;
                border-bottom: 2px solid $green-line;
                font-family: "Helvetica";
                background-color: $green-noc-ld;
                a
                {
                  color : white;
                }
              }
              .v02-li-menu-child:hover
              {
                background-color: $green-light-noc-ld;
                @include TransitionWithDurationAndEase(0.75s, $EasingExpoOut);
              }
              .v02-li-menu-child:last-child
              {
                border-bottom: 0px solid transparent;
              }
            }

            .v02-text
            {
              display: block;
              font-size: 24px;
              font-family: "Helvetica";
              text-align: center;
              line-height: 66px;
              height : 66px;
              position: relative;
              /*padding-left: 10px;
              padding-right: 10px;*/
              @media screen and (max-width: 1378px)
              {
                font-size: 18px;
              }
            }
            .v02-arrow-down
            {
              background: url("../images/arrow.png") no-repeat center;
              background-size : contain;
              width : 14px;
              height : 8px;
              position: absolute;
              right : 0;
              top : 0;
              bottom : 0;
              margin-top : auto;
              margin-bottom: auto;
            }
          }
          .v02-menu-item:last-child
          {
            .v02-menu-child
            {
              left : auto;
              right : 0;

            }
          }
          .v02-line-animate
          {
            position: absolute;
            height : 7px;
            width : 25px;
            background-color: $green-dark-noc-ld;
            bottom : 0;
            left : 0 ;
            display: block;
            opacity: 0;
            @include TransitionWithDurationAndEase(0.85s, $EasingExpoOut);
          }
        }
      }
    }
  }
  #v02-noc-section-about
  {
    position: relative;
    display: block;
    width: auto;
    height : auto;
    .v02-content
    {
      position: relative;
      margin : 0 auto;
      padding: 50px;
      @media screen and (max-width: 700px)
      {
        padding: 10px;
      }
      .v02-ico-float
      {
        position: absolute;
        bottom : 0;
      }
      .v02-ico-float.v02-ico-float-left
      {
        left : -5%;
        @media screen and (max-width: 1200px)
        {
          left : -7%
        }
        @media screen and (max-width: 1090px)
        {
          img
          {
            width : 70%;
          }
        }
        @media screen and (max-width: 1031px)
        {
          display: none;
        }
      }

      .v02-ico-float.v02-ico-float-right
      {
        right : -5%;
        @media screen and (max-width: 1200px)
        {
          right : -7%;
        }
        @media screen and (max-width: 1090px)
        {
          img
          {
            width : 70%;
          }
        }
        @media screen and (max-width: 1031px)
        {
          display: none;
        }
      }

      .v02-image-about
      {
        position: relative;
        display: block;
        @media screen and ( max-width : 700px) {
          padding: 0px 35px;
        }
        @media screen and ( max-width : 360px) {
          padding: 0px 5px;

        }
        .v02-content-about
        {
          display: block;
          @media screen and (max-width: 758px)
          {
            margin: 0px 5px;
          }
          .v02-about-item
          {
            float : left;
            width : 31%;
            position: relative;
            height : 410px;
            overflow: hidden;
            margin: 0px 12px;
            cursor: pointer;
            @media screen and (max-width: 1600px)
            {
              height : 290px;
              width : 32%;
              margin: 0px 6px;
            }
            @media screen and (max-width: 1378px)
            {
              width : 30%;
              height: 250px;
            }
            @media screen and (max-width: 1200px)
            {
              margin: 0px 11px;
            }
            @media screen and (max-width: 772px)
            {
              margin: 0px 5px;

            }
            @media screen and (max-width: 700px)
            {
              float : none;
              display: block;
              margin : 10px;
              width : auto;
              height: 200px;

            }
            .v02-text
            {
              display: block;
              font-family: "HelveticaBt";
              font-size: 36px;
              line-height: 40px;
              height: auto;
              color : white;
              text-align: center;
              position: absolute;
              margin:  auto;
              margin: auto;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              max-width: 90%;
              vertical-align: middle;
              @media screen and (max-width: 1600px)
              {
                font-size: 24px;
                line-height: 28px;
              }
              @media screen and (max-width: 1378px)
              {
                padding: 0px 30px;
              }
              @media screen and (max-width: 758px)
              {
                font-size: 20px;
                line-height: 24px;
              }

            }
            .v02-about-img
            {
              top : 0;
              left : 0;
              right : 0;
              bottom : 0;
              position: absolute;
              display: block;
              width : auto;
              height:  auto;
              max-width: 1000px;
              @media screen and (max-width: 700px)
              {
                width : 100%;
              }
            }
          }
        }
        .v02-content-about:after
        {
          clear: both;
          display: block;
          content : "";
        }
      }
      .v02-description
      {
        display: block;
        position: relative;
        text-align: center;
        padding-top: 20px;
        .v02-text
        {
          font-family: "HelveticaLt";
          font-size: 40px;
          line-height: 44px;
          color : #333333;
          display: block;
          @media screen and (max-width: 1600px)
          {
            font-size: 28px;
            line-height: 32px;
          }
          @media screen and (max-width: 1200px)
          {
            font-size: 20px;
            line-height: 24px;
          }
        }
        .v02-small-text
        {
          padding-top: 5px;
          display: block;
          font-family: "Helvetica";
          font-size: 20px;
          line-height: 25px;
          color : #717171;
          @media screen and (max-width: 1600px)
          {
            font-size: 16px;
            line-height: 20px;
          }
          @media screen and (max-width: 1378px)
          {
            padding: 0px 50px;
          }
          @media screen and (max-width: 1200px)
          {
            font-size: 12px;
            line-height: 20px;

          }
        }
      }
    }
  }
  #v02-noc-section-events
  {
    position: relative;
    display: block;
    .v02-content
    {
      position: relative;
      padding: 50px;
      padding-bottom: 0px;
      @media screen and ( max-width: 546px){
        padding: 10px;
      }
      .v02-ico-float
      {
        position: absolute;
      }
      .v02-ico-float.v02-ico-float-left
      {
        left : -9%;
        bottom : 0;
        @media screen and (max-width: 1090px)
        {
          img
          {
            width : 70%;
          }
        }
        @media screen and (max-width: 1031px)
        {
          display: none;
        }
      }
      .v02-ico-float.v02-ico-float-right
      {
        right : -9%;
        top : 0;
        @media screen and (max-width: 1090px)
        {
          img
          {
            width : 70%;
          }
        }
        @media screen and (max-width: 1031px)
        {
          display: none;
        }
      }

      .v02-title-view
      {
        display: block;
        width: auto;
        .v02-title
        {
          float : left;
          font-size: 51px;
          line-height: 55px;
          font-family: "Helvetica";
          color : #333333;
          display: block;
          cursor: pointer;
          @media screen and (max-width: 742px)
          {
            font-size: 35px;
            line-height: 45px;
          }
        }
        .v02-view-all
        {
          float : right;
          font-family: "HelveticaBt";
          font-size: 18px;
          line-height: 22px;
          display: block;
          color : #ef7c00;
          display: block;
          margin-top: 28px;
          cursor: pointer;
        }
      }
      .v02-title-view:after
      {
        display : block;
        content : "";
        clear   : both;
      }
      .v02-featured-upcoming
      {
        display: block;
        padding-top: 10px;
        position: relative;
        .v02-featured
        {
          display: inline-block;
          vertical-align: top;
          width: 30%;
          height : auto;
          @media screen and (max-width: 700px)
          {
            width : auto;
            display: block;
          }
          .v02-title
          {
            font-family: "HelveticaLt";
            font-size: 22px;
            line-height: 30px;
            color : #333333;
            display: block;
            padding-bottom: 10px;
          }
          .v02-detail-content
          {
            display : block;
            position: relative;
            .v02-detail-image
            {
              display: block;
              overflow: hidden;
              position: relative;
              height : 195px;
              img
              {
                height : 100%;
                display: block;
              }
            }
            .v02-detail-title
            {
              display: block;
              .v02-title
              {
                font-family: "HelveticaBt";
                font-size: 21px;
                line-height: 25px;
                color : #003062;
                text-decoration: none;
                list-style-type: none;
                padding-top: 11px;
                @media screen and (max-width: 1200px)
                {
                  font-size: 15px;
                  line-height: 20px;
                }
              }
              .v02-description
              {
                font-family: "Helvetica";
                color: #a2a1a1;
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }
        .v02-upcoming
        {
          display: inline-block;
          vertical-align: top;
          width: 65%;
          height: auto;
          padding: 0px 50px;
          @media screen and (max-width: 1600px)
          {
            padding: 0px 34px;
          }
          @media screen and (max-width: 1200px)
          {
            /*width : 55%;*/
          }
          @media screen and (max-width: 700px)
          {
            width : auto;
            display: block;
            padding: 0px;
          }
          .v02-title
          {
            font-family: "HelveticaLt";
            font-size: 22px;
            line-height: 30px;
            color : #333333;
            display: block;
            padding-bottom: 10px;
          }
          .v02-detail-content
          {
            display : block;
            position: relative;
            .v02-slide-upcoming
            {
              .v02-item
              {
                margin: 0px 6px;

                .v02-item-image
                {
                  height : 195px;
                  overflow: hidden;
                  img
                  {
                    min-height : 100%;
                    width : auto;
                    max-width: 1000px;
                    display: block;

                  }
                }
                .v02-item-title
                {
                  display: block;
                  .v02-title
                  {
                    font-family: "HelveticaBt";
                    font-size: 21px;
                    line-height: 25px;
                    color : #003062;
                    text-decoration: none;
                    list-style-type: none;
                    padding-top: 11px;
                    @media screen and (max-width: 1200px)
                    {
                      font-size: 15px;
                      line-height: 20px;
                    }
                  }
                  .v02-description
                  {
                    font-family: "Helvetica";
                    color: #a2a1a1;
                    font-size: 16px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #v02-noc-section-highlights
  {
    .v02-content
    {

      position: relative;
      display: block;
      padding: 50px;
      padding-bottom: 0px;
      @media screen and ( max-width: 546px){
        padding: 20px;
      }
      .v02-title-highlights
      {
        display: block;
        padding-bottom: 20px;
        .v02-title
        {
          float : left;
          font-size: 51px;
          line-height: 55px;
          font-family: "Helvetica";
          color : #333333;
          display: block;
          cursor: pointer;
          @media screen and (max-width: 742px)
          {
            font-size: 35px;
            line-height: 45px;
          }
        }
      }
      .v02-title-highlights:after
      {
        clear: both;
        display: block;
        content: "";
      }
      .v02-detail-content
      {

        position: relative;
        .v02-bg-wave
        {
          position: absolute;
          top :0 ;
          left : 0 ;
          right : 0 ;
          bottom : 0 ;
          img
          {
            display: block;
            width : 100%;
          }
          @media screen and (max-width: 799px)
          {
            display: none;
          }

        }
        .v02-detail
        {

          .v02-item-detail
          {
            position: relative;
            display: block;
            width : auto;
            height : auto;
            @media screen and (max-width: 742px)
            {
              max-width: 428px;
              margin: 0 auto;
            }
            @media screen and (max-width: 700px)
            {
              max-width: 1000px;
            }
            .v02-item
            {
              display: inline-block;
              margin: 12px;
              vertical-align: top;
              @media screen and (max-width: 1600px)
              {
                margin: 6px;
              }
            }
            .v02-item:nth-child(3n+1)
            {
              margin-left: 0px;
              @media screen and (max-width: 700px)
              {
                margin-left: 6px;
              }
            }
            .v02-big-box
            {
              width : 555px;
              min-height : 380px;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              @media screen and (max-width: 1600px)
              {
                width: 425px;
                min-height: 350px;
              }
              @media screen and (max-width: 1378px)
              {
                width: 350px;
              }
              @media screen and (max-width: 1200px)
              {
                width: 250px;
              }
              @media screen and (max-width: /*799*/819px)
              {
                /*width : 200px;*/
                width : auto;
                display: block;
              }
              /*@media screen and (max-width: 700px)
              {
                width : 45%;
              }
              @media screen and (max-width: 565px)
              {
                width : auto;
                display: block;
                min-height: 358px;
                padding-bottom: 10px;

              }*/
              .v02-wrap-bg-img
              {
                position: absolute;
                top : 0;
                left : 0;
                right : 0;
                bottom : 0;
                img
                {
                  display: block;
                }
                .v02-hoverMark
                {
                  position: absolute;
                  top : 0;
                  left : 0;
                  right : 0;
                  bottom : 0;
                  background-color: rgba(0, 0, 0, 0.55);
                }
              }

              .v02-detail-item
              {

                position: relative;
                max-width: 330px;
                padding-left: 48px;
                padding-top: 100px;
                @media screen and (max-width: 1200px)
                {
                  padding-left: 30px;
                  padding-top: 50px;
                  padding-right: 10px;
                }
                @media screen and (max-width: 565px)
                {
                  /*padding: 5px;*/
                }
                .v02-title
                {
                  text-align: left;
                  font-family: "Helvetica";
                  color : white;
                  font-size: 36px;
                  line-height: 40px;
                  padding-bottom: 12px;
                  display: block;
                  @media screen and (max-width: 1378px)
                  {
                    font-size: 36px;
                    line-height: 40px;
                  }
                }
                .v02-content-text
                {
                  font-family: "Helvetica";
                  color : white;
                  font-size: 16px;
                  line-height: 20px;
                }
              }
            }

            .v02-big-box-bg-color
            {
              width : 555px;
              min-height : 380px;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              @media screen and (max-width: 1600px)
              {
                width: 400px;
                min-height: 380px;
              }
              @media screen and (max-width: 1378px)
              {
                width: 350px;
              }
              @media screen and (max-width: 1200px)
              {
                width: 250px;
              }
              @media screen and (max-width: /*799px*/ /*811px*/ 819px)
              {
                /*width : 200px;*/
                width : auto;
                display: block;
              }
              /*@media screen and (max-width: 700px)
              {
                width : 45%;
              }
              @media screen and (max-width: 565px)
              {
                width : auto;
                display: block;
                min-height: 358px;
                padding-bottom: 10px;
              }*/
              .v02-wrap-bg-img
              {
                position: absolute;
                top : 0;
                left : 0;
                right : 0;
                bottom : 0;
                img
                {
                  display: block;
                }
                .v02-hoverMark
                {
                  position: absolute;
                  top : 0;
                  left : 0;
                  right : 0;
                  bottom : 0;
                  background-color: rgba(0, 0, 0, 0.55);
                }
              }

              .v02-detail-item
              {

                position: relative;
                max-width: 428px;
                padding: 48px;
                @media screen and (max-width: 1200px)
                {
                  padding: 25px;
                }
                .v02-title
                {
                  text-align: left;
                  font-family: "Helvetica";
                  color : white;
                  font-size: 36px;
                  line-height: 40px;
                  padding-bottom: 12px;
                  display: block;
                  @media screen and (max-width: 1600px)
                  {
                    font-size: 25px;
                    line-height: 28px;
                  }
                  @media screen and (max-width: 1378px)
                  {
                    font-size: 18px;
                    line-height: 22px;
                  }
                }
                .v02-content-text
                {
                  font-family: "Helvetica";
                  color : white;
                  font-size: 16px;
                  line-height: 20px;
                  @media screen and (max-width: 1378px)
                  {
                    font-size: 14px;
                    line-height: 17px;
                  }
                }
              }
            }

            .v02-small-box
            {

              width : 248px;
              height : auto;
              position: relative;
              background-color: white;
              @media screen and (max-width: 1600px)
              {
                width: 230px;
              }
              @media screen and (max-width: 1378px)
              {
                width: 200px;
              }
              @media screen and (max-width: /*700px*/ /*799px*/ /*811px*/ 819px)
              {
                /*width : 45%;*/
                width : auto;
                display: block;

              }
              /*@media screen and (max-width: 565px)
              {
                width : auto;
                display: block;
              }*/

              .v02-image-box
              {
                height : 245px;
                background-size: cover !important;
                position: relative;
                @media screen and (max-width: 1200px)
                {
                  width: 200px;
                }
                @media screen and (max-width: /*700px*/ /*799px*/ /*811px*/ 819px)
                {
                  width : 100%;
                }

                .v02-hoverMark
                {
                  position: absolute;
                  top : 0 ;
                  left : 0 ;
                  right : 0 ;
                  bottom : 0 ;
                  cursor: pointer;
                  .v02-play-btn
                  {
                    display: block;
                    position: absolute;
                    width : 72px;
                    height : 72px;
                    top : 0 ;
                    left : 0 ;
                    right : 0 ;
                    bottom : 0 ;
                    margin : auto;
                  }
                }
              }
              .v02-detail-box
              {
                position: relative;
                display: block;
                padding: 20px;
                @media screen and (max-width: 799px)
                {
                  border: 1px solid black;
                  border-top : 0px solid white;
                }

                .v02-title
                {
                  display: block;
                  font-family: "HelveticaBt";
                  font-size: 16px;
                  line-height: 20px;
                  color : #003062;
                  padding-bottom: 5px;
                  cursor: pointer;
                  @media screen and (max-width: 1378px)
                  {
                    font-size: 10px;
                    line-height: 14px;
                  }
                }
                .v02-owner
                {
                  display: block;
                  font-size: 13px;
                  line-height: 17px;
                  color : #ef7c00;
                  font-family: "HelveticaBt";
                  cursor: pointer;
                }
                .v02-description
                {
                  display: block;
                  font-family: "Helvetica";
                  font-size: 13px;
                  line-height: 17px;
                  color : #999999;
                  padding-top: 5px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    .v02-btn-read-more
    {
      font-size: 18px;
      font-family: "HelveticaBt";
      line-height: 42px;
      height: 42px;
      border: 1px solid white;
      text-align: center;
      color : white;
      text-decoration: none;
      list-style-type: none;
      display: block;
      max-width: 150px;
      margin-top: 28px;
    }
  }
  #v02-noc-section-alumni
  {
    .v02-content
    {
      position: relative;
      padding: 50px;
      padding-bottom: 0px;
      @media screen and ( max-width: 700px){
        padding: 10px;
      }
      .v02-title-view {
        display: block;
        width: auto;
        .v02-title {
          float: left;
          font-size: 51px;
          line-height: 55px;
          font-family: "Helvetica";
          color: #333333;
          display: block;
          cursor: pointer;
          @media screen and (max-width: 742px)
          {
            font-size: 35px;
            line-height: 45px;
          }
        }
        .v02-view-all {
          float: right;
          font-family: "HelveticaBt";
          font-size: 18px;
          line-height: 22px;
          display: block;
          color: #ef7c00;
          display: block;
          margin-top: 28px;
          cursor: pointer;
        }
      }
      .v02-title-view:after {
        display: block;
        content: "";
        clear: both;
      }
      .v02-wrap-detail
      {
        display: block;
        position: relative;
        @media screen and (max-width: 583px)
        {
          padding: 0px 30px;
        }
        @media screen and (max-width: 370px)
        {
          padding: 0px 5px;
        }
        .v02-options
        {
          position: relative;
          display: block;
          .v02-item-option
          {
            margin: 10px;
            display: inline-block;
            vertical-align: top;
            height: 282px;
            width : 30%;
            position: relative;
            @media screen and (max-width: 718px)
            {
              margin: 5px;
              height : 200px;
            }
            @media screen and (max-width: 583px)
            {
              width : auto;
              display: block;
              margin: 10px;
            }
            .v02-title
            {
              position: absolute;
              top : 0;
              left : 0;
              right : 0;
              bottom : 0;
              margin : auto;
              font-family: "HelveticaBt";
              font-size: 30px;
              line-height: 34px;
              color : white;
              display: block;
              text-align: center;
            }
            .v02-hoverMark
            {
              position: absolute;
              top : 0;
              left : 0;
              right : 0;
              bottom : 0;
              cursor: pointer;
            }
          }
          .v02-item-option:nth-child(1)
          {
            margin-left: 0;
            @media screen and (max-width: 583px){
              margin-left: 10px;
            }
          }
        }
        .v02-company
        {
          display: block;
          position: relative;
          padding-top: 40px;
          @media screen and (max-width: 1600px)
          {
            max-width: 760px;
            margin: 0 auto;
          }
          @media screen and (max-width: 583px)
          {
            width : 90%;
          }
          .v02-list
          {
            margin: 0 auto;
            display: block;
            list-style-type: none;
            .v02-item
            {
              display: inline-block;
              vertical-align: middle;
              margin: 5px;
              img
              {
                display: block;
                margin: 0 auto;
                @media screen and (max-width: 1200px)
                {
                  width : 100px;
                }
                @media screen and ( max-width: 283px)
                {
                  width : 150px;
                  margin: 5px auto;
                }
              }
              @media screen and ( max-width: 283px)
              {
                display: block;
                margin: 5px auto;
              }
            }
          }
        }
      }
    }
  }
  .v02-footer-partner
  {
    margin-top: 80px;
    background-color: #f8f8f8;
    @media screen and (max-width: 532px)
    {
      margin-top: 15px;
    }
    .v02-title
    {
      padding-top: 20px;
      padding-bottom: 10px;
      font-family: "Helvetica";
      font-size: 51px;
      line-height: 55px;
      text-align: center;
      color : #003062;
      @media screen and (max-width: 1031px)
      {
        font-size: 35px;
        line-height: 45px;
      }
      @media screen and (max-width: 532px)
      {
        font-size: 25px;
        line-height: 35px;

      }
    }
    .v02-description
    {
      font-family: "Helvetica";
      font-size: 20px;
      line-height: 24px;
      padding-top: 5px;
      text-align: center;
      max-width: 1000px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      display: block;
      color : #717171;
      padding-bottom: 50px;
      @media screen and (max-width: 1031px)
      {

        font-size: 18px;
        line-height: 22px;
      }
    }
    .v02-submit-form
    {
      display: block;
      max-width: 1240px;
      margin: 0 auto;
      padding-bottom: 80px;
      @media screen and (max-width: 1378px)
      {
        max-width: 1000px;
      }
      @media screen and (max-width: 1031px)
      {
        max-width: 80%;
      }
      @media screen and (max-width: 532px)
      {
        padding-bottom: 15px;

      }
      .v02-type-address
      {
        font-family: "Helvetica";
        font-size: 30px;
        line-height: 60px;
        height: 60px;
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        width : 100%;
        border: 0px solid white;
        border-bottom: 1px solid #333333;
        background-color: transparent;
        @media screen and (max-width:  585px)
        {
          font-size: 20px;
          line-height: 30px;
          height: 30px;
        }
      }
      .v02-form-partner
      {
        position: relative;
      }
      .v02-btn-submit
      {
        position: absolute;
        width : 33px;
        height: 24px;
        top : 0;
        bottom : 0;
        right : 0;
        margin: auto;
        display: block;
        background-color: transparent;
        list-style-type: none;
        border: 0px solid white;
        cursor: pointer;
        z-index : 10;
      }
    }
  }
  .v02-follow
  {
    background-color: white;
    display: block;
    position: relative;
    padding-top: 50px;
    padding-bottom: 15px;
    @media screen and (max-width: 532px)
    {
      padding-top: 15px;

    }
    .v02-title
    {
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      height: 40px;
      color : #2c2c2c;
      font-family: "Helvetica";
      @media screen and (max-width: 1031px)
      {
        font-size: 35px;
        line-height: 45px;
      }
      @media screen and (max-width: 532px)
      {
        font-size: 15px;
        line-height: 35px;
      }
    }

    .v02-social
    {
      margin: 0 auto;
      max-width: 355px;
      @media screen and (max-width: 536px)
      {
        max-width: 255px;
      }
      .v02-item-social
      {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        margin: 15px;
        @media screen and (max-width: 536px)
        {
          //margin: 2px;
          width : 50px;
          img
          {
            width : 100%;
          }
        }
      }
    }
  }
}
.v02-foot-link-way
{
  display: block;
  width : auto;
  margin : 0px auto;
  background: #002449;
  .v02-link-content
  {
    max-width: 1240px;
    margin: 0px auto;
    padding-left: 50px;
    @media screen and (max-width: 1600px)
    {
      max-width: 1024px;
    }
    @media screen and (max-width: 1378px)
    {
      max-width: 900px;

    }
    @media screen and (max-width: 1200px)
    {
      max-width: 800px;
      padding-left: 25px;
    }
    .v02-link
    {
      display: inline-block;
      font-size: 24px;
      font-family: "Helvetica";
      color : #555555;
      line-height: 45px;
      height : 45px;
      @media screen and (max-width : 700px) {
        font-size: 18px;
      }
    }
    .active
    {
      color : #999999;
    }
  }
}
