@font-face {
  font-family: 'UNIArquitectaBook';
  src: url("../fonts/UNIArquitectaBook.eot");
  src: url("../fonts/UNIArquitectaBook.eot") format("embedded-opentype"), url("../fonts/UNIArquitectaBook.woff2") format("woff2"), url("../fonts/UNIArquitectaBook.woff") format("woff"), url("../fonts/UNIArquitectaBook.ttf") format("truetype"), url("../fonts/UNIArquitectaBook.svg#UNIArquitectaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UNIArquitectaBold';
  src: url("../fonts/UNIArquitectaBold.eot");
  src: url("../fonts/UNIArquitectaBold.eot") format("embedded-opentype"), url("../fonts/UNIArquitectaBold.woff2") format("woff2"), url("../fonts/UNIArquitectaBold.woff") format("woff"), url("../fonts/UNIArquitectaBold.ttf") format("truetype"), url("../fonts/UNIArquitectaBold.svg#UNIArquitectaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UNIArquitectaMedium';
  src: url("../fonts/UNIArquitectaMedium.eot");
  src: url("../fonts/UNIArquitectaMedium.eot") format("embedded-opentype"), url("../fonts/UNIArquitectaMedium.woff2") format("woff2"), url("../fonts/UNIArquitectaMedium.woff") format("woff"), url("../fonts/UNIArquitectaMedium.ttf") format("truetype"), url("../fonts/UNIArquitectaMedium.svg#UNIArquitectaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UNIVacantRegular';
  src: url("../fonts/UNIVacantRegular.eot");
  src: url("../fonts/UNIVacantRegular.eot") format("embedded-opentype"), url("../fonts/UNIVacantRegular.woff2") format("woff2"), url("../fonts/UNIVacantRegular.woff") format("woff"), url("../fonts/UNIVacantRegular.ttf") format("truetype"), url("../fonts/UNIVacantRegular.svg#UNIVacantRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

#loading .overLoading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 99;
  background: #fff;
}

.cssload-dots {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  filter: url(#goo);
  -o-filter: url(#goo);
  -ms-filter: url(#goo);
  -webkit-filter: url(#goo);
  -moz-filter: url(#goo);
  z-index: 999;
}

.cssload-dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.cssload-dot:before {
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 49px;
  background: #fbd301;
  position: absolute;
  left: 50%;
  transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

.cssload-dot:nth-child(5):before {
  z-index: 100;
  width: 44.5px;
  height: 44.5px;
  margin-left: -21.75px;
  margin-top: -21.75px;
  animation: cssload-dot-colors 4.6s ease infinite;
  -o-animation: cssload-dot-colors 4.6s ease infinite;
  -ms-animation: cssload-dot-colors 4.6s ease infinite;
  -webkit-animation: cssload-dot-colors 4.6s ease infinite;
  -moz-animation: cssload-dot-colors 4.6s ease infinite;
}

.cssload-dot:nth-child(1) {
  animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
  -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}

.cssload-dot:nth-child(1):before {
  background-color: #bd833a;
  animation: cssload-dot-move 4.6s 0s ease infinite;
  -o-animation: cssload-dot-move 4.6s 0s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
  animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
  -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}

.cssload-dot:nth-child(2):before {
  background-color: #0b5632;
  animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
  animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
  -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}

.cssload-dot:nth-child(3):before {
  background-color: #afe102;
  animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
  animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
  -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}

.cssload-dot:nth-child(4):before {
  background-color: #fbd301;
  animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
  -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-68px);
            transform: translateY(-68px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes cssload-dot-move {
  0% {
    -webkit-transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-68px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes cssload-dot-colors {
  0% {
    background-color: #fbd301;
  }
  25% {
    background-color: #bd833a;
  }
  50% {
    background-color: #0b5632;
  }
  75% {
    background-color: #afe102;
  }
  100% {
    background-color: #fbd301;
  }
}

@-webkit-keyframes cssload-dot-colors {
  0% {
    background-color: #fbd301;
  }
  25% {
    background-color: #bd833a;
  }
  50% {
    background-color: #0b5632;
  }
  75% {
    background-color: #afe102;
  }
  100% {
    background-color: #fbd301;
  }
}

@keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
            transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}

@keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
            transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
  }
}

@keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
            transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@-webkit-keyframes cssload-dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

#firework {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

body {
  overflow: hidden;
}

.loading {
  background-color: #0B2140;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 99999;
}

.loading img {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.loading .ico-loading {
  position: absolute;
  left: 50%;
  top: 60%;
  margin-top: -31px;
  margin-left: -31px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  border-right: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #EC9C1E;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: rot .6s infinite linear;
          animation: rot .6s infinite linear;
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#tiger {
  width: auto;
  height: 100%;
  display: block;
  position: relative;
  background: url("../img/bg-2.png") no-repeat center;
  background-size: cover;
}

#tiger .core {
  position: relative;
  display: block;
}

#tiger .core .content .title {
  display: block;
  text-align: center;
  width: 60vh;
  max-width: 566px;
  margin: 0px auto;
  padding-top: 5px;
}

@media screen and (max-width: 700px) {
  #tiger .core .content .title {
    max-width: 200px;
  }
}

#tiger .core .content .title img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 700px) {
  #tiger .core .content .title img {
    max-width: 200px;
  }
}

#tiger .core .content .location {
  z-index: 2;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  max-width: 770px;
  margin: 0 auto;
  padding: 5px;
  display: block;
  position: relative;
  /*.information
        {
          display: block;
          margin: 5px auto;
          padding-top: 5px;

          .text-part
          {
            display: inline-block;
            vertical-align: middle;
            .child-info
            {
              display: inline-block;
              font-family: "UNIArquitectaBook";
              font-size: 21px;
              color : white;
              line-height: 25px;
            }
            .logo-play
            {
              display: inline-block;
              max-width: 110px;
              padding: 0px 10px;
            }
            .premium
            {
              max-width: 400px;
              display: block;
            }
          }
          @media screen and (max-width: 745px) {
            max-width: 402px;
            .text-part
            {
              display: block;
            }
            .text-part:nth-child(1)
            {
              max-width: 333px;
              margin: 0 auto;
            }
          }
          @media screen and (max-width: 375px) {

            max-width: 288px;
            .text-part
            {
              .child-info
              {
                font-size: 16px;
              }
              .premium
              {
                max-width: 270px;
              }
            }

          }
        }*/
}

#tiger .core .content .location .location-content {
  display: block;
  position: relative;
  max-width: 230px;
  margin: 5px auto;
}

#tiger .core .content .location .location-content .ico-location {
  display: inline-block;
  padding: 0px 4px;
  vertical-align: middle;
}

#tiger .core .content .location .location-content .detail-location {
  display: inline-block;
  max-width: 200px;
  font-family: "UNIArquitectaBold";
  font-size: 18px;
  line-height: 20px;
  color: white;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .location-content .detail-location {
    font-size: 13px;
    line-height: 16px;
  }
}

#tiger .core .content .location .location-content .detail-location .detail {
  display: block;
  position: relative;
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .location-content .detail-location .detail {
    max-width: 140px;
    margin: 0 auto;
  }
}

#tiger .core .content .location .location-content .detail-location .detail .part {
  float: left;
  display: block;
  padding: 0px 4px;
  text-align: center;
}

#tiger .core .content .location .location-content .detail-location .detail .where {
  color: #f3a01f;
}

#tiger .core .content .location .location-content .detail-location .detail-where {
  display: block;
  position: relative;
  font-family: "UNIArquitectaMedium";
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: center;
}

#tiger .core .content .location .cooldown-content {
  position: relative;
  display: block;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  max-width: 447px;
  margin: 5px auto;
  /*@media screen and (max-width: 466px) {
            max-width: 371px;
          }
          @media screen and (max-width: 367px) {
            max-width: 310px;
          }*/
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .cooldown-content {
    max-width: 275px;
  }
}

#tiger .core .content .location .cooldown-content .cooldown {
  text-decoration: none;
  display: block;
}

#tiger .core .content .location .cooldown-content .cooldown .cooldown-part {
  opacity: 0;
  border-radius: 50%;
  border: 1px solid #809bb4;
  padding: 0px;
  width: 93px;
  height: 93px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0px 5px;
  transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  /*@media screen and (max-width: 466px) {
                width : 74px;
                height: 74px;

              }
              @media screen and (max-width: 367px) {
                width : 59px;
                height: 59px;
              }*/
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .cooldown-content .cooldown .cooldown-part {
    width: 50px;
    height: 50px;
  }
}

#tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: 70px;
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper {
    height: 32px;
  }
}

#tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper .child {
  display: block;
  text-align: center;
}

#tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper .number {
  color: #90d1fb;
  font-family: "";
  font-size: 35px;
  line-height: 39px;
  display: block;
  font-family: "UNIVacantRegular";
  /*@media screen and (max-width: 367px) {
                    font-size: 18px;
                    line-height: 25px;
                  }*/
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper .number {
    font-size: 16px;
    line-height: 20px;
  }
}

#tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper .gold-date {
  color: #f3a01f;
  font-family: "UNIArquitectaMedium";
  font-size: 20px;
  line-height: 25px;
  /*@media screen and (max-width: 367px) {
                    font-size: 14px;
                    line-height: 20px;
                  }*/
}

@media screen and (max-width: 800px) {
  #tiger .core .content .location .cooldown-content .cooldown .cooldown-part .wrapper .gold-date {
    font-size: 13px;
    line-height: 15px;
  }
}

#tiger .core .content .tiger-stand {
  overflow: visible;
  position: relative;
  width: auto;
  height: auto;
  background: url("../img/bg-stand.png") no-repeat center top;
  background-size: cover;
}

@media screen and (max-height: 895px) and (min-width: 1392px) {
  #tiger .core .content .tiger-stand {
    /*background: url("../img/bg-stand.png") no-repeat center top;*/
  }
}

#tiger .core .content .tiger-stand img.bg {
  display: block;
}

#tiger .core .content .tiger-stand .talent-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#tiger .core .content .tiger-stand .talent-footer img.bg-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  max-height: 125px;
}

#tiger .core .content .tiger-stand .talent-footer img.bg-talent-footer {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: -999px;
  /*@include TransitionWithDurationAndEase(0.75s, $EasingExpoOut);*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#tiger .core .content .tiger-stand .talent-footer .bg-talent-footer-responsive {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: -999px;
  /*@include TransitionWithDurationAndEase(0.75s, $EasingExpoOut);*/
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#tiger .core .content .wrapper-infor {
  background: url("../img/bgFillter.png") no-repeat center;
  background-size: cover;
  padding-top: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-height: 650px) {
  #tiger .core .content .wrapper-infor {
    /*padding-top: 20px;*/
    background: url("../img/bgFillter.png") no-repeat center top;
  }
}

#tiger .core .content .information {
  display: block;
  margin: 5px auto;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

#tiger .core .content .information .text-part {
  display: block;
  vertical-align: middle;
  position: relative;
}

#tiger .core .content .information .text-part .child-info {
  display: inline-block;
  font-family: "UNIArquitectaBook";
  font-size: 21px;
  color: white;
  line-height: 25px;
}

#tiger .core .content .information .text-part .logo-play {
  display: inline-block;
  max-width: 110px;
  padding: 0px 10px;
}

#tiger .core .content .information .text-part .logo-play img {
  width: 100%;
}

#tiger .core .content .information .text-part .premium, #tiger .core .content .information .text-part .premium-light-off {
  max-width: 400px;
  display: block;
  width: 100%;
}

#tiger .core .content .information .text-part .premium {
  opacity: 0;
}

#tiger .core .content .information .text-part .premium-light-off {
  position: absolute;
  top: 0;
}

#tiger .core .content .information .text-part:nth-child(1) {
  max-width: 333px;
  margin: 0 auto;
}

#tiger .core .content .information .text-part:nth-child(2) {
  max-width: 404px;
  margin: 0 auto;
}

@media screen and (max-width: 745px) {
  #tiger .core .content .information {
    max-width: 402px;
  }
  #tiger .core .content .information .text-part {
    display: block;
  }
  #tiger .core .content .information .text-part:nth-child(1) {
    max-width: 333px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  #tiger .core .content .information {
    max-width: 288px;
  }
  #tiger .core .content .information .text-part .child-info {
    font-size: 16px;
  }
  #tiger .core .content .information .text-part .premium, #tiger .core .content .information .text-part .premium-light-off {
    max-width: 270px;
  }
}

@media screen and (max-height: 670px) {
  #tiger .core .content .information .text-part:nth-child(2) {
    max-width: 280px;
    margin: 0 auto;
  }
  #tiger .core .content .information .text-part:nth-child(1) {
    max-width: 285px;
  }
  #tiger .core .content .information .text-part:nth-child(1) .child-info {
    font-size: 18px;
    line-height: 20px;
  }
  #tiger .core .content .information .text-part:nth-child(1) .logo-play {
    max-width: 80px;
  }
}

.clearAfter:after {
  content: "";
  display: block;
  clear: both;
}
/*# sourceMappingURL=style.css.map */