.s-aboutus{
    position: relative;
    padding-top : rem(300);
    .marquee-text{
        &__wrapper{
            position: absolute;
            top : rem(85);
            left : rem(-30);
            right : rem(-30);
            transform: rotate(-2deg);
        }
    }
}