.s-skills{
    position: relative;
    padding-top : rem(70);
    padding-bottom : rem(50);
    background-color: #000;
    &__headline{
        text-align: right;
    }
    &__detail{
        padding-right : rem(20);
        padding-bottom: rem(25);
        padding-top : rem(15);
        @include fontAntonio;
        font-size: rem(45);
        font-weight: 400;
        line-height: 1.2;
        color : #fff;
        text-transform: uppercase;
        text-align: right;
        & > span{
            display: inline-block;
            position: relative;
            padding-left : rem(20);
            &:after{
                content : "#";
                display: block;
                left : 0;
                bottom : 0;
                width : rem(20);
                position: absolute;
                font-size: rem(35);
                color : #974c4c;
            }
        }
    }
}