.s-slogan {
    position: relative;
    overflow: visible;
    height: rem(2400);
    padding-left: rem(60);
    z-index: 1;
    &__info-wrapper {
        position: absolute;
        top: rem(288);
        left: rem(76);
        width: rem(485);
        padding-top : rem(27);
    }
    &__info{
        position: relative;
        display: block;
        .headline-common__title{
            padding-bottom : rem(15);
        }
    }
    &__info-inner{
        position: relative;
    }
    &__info-caption{
        position: absolute;
        top: rem(288);
        left: rem(76);
    }
    &__info-item {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__logo-draw {
        position: absolute;
        width: rem(471);
        height: rem(471);
        top: rem(138);
        left: rem(774);
        z-index: 2;
        .logo-draw-ske {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0;
        }
    }
    &__container {
        height: 100vh;
        min-height: 700px;
        position: relative;
        z-index: 2;
        &.-sticky {
            top: 0;
            right: 0;
            bottom: 0;
            left: rem(60);
            position: fixed;
        }
    }
}

.s-slogan-nav {
    height: rem(738.938);
    width: rem(1384.38);
    position: relative;
    z-index: 1;
    &__wrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.js-slogan-circle-start-trigger {
    position: absolute;
    top: rem(150);
    left: 0;
}

.js-slogan-start-trigger {
    position: absolute;
    top: rem(755);
    left: 0;
}

.js-slogan-end-trigger {
    position: absolute;
    bottom: rem(-2200);
    left: 0;
}

.js-slogan-info-trigger {
    position: absolute;
    top: rem(900);
    left: 0;
}

#svg-logo-draw-1 {
    display: block;
    width: rem(471);
    height: rem(471);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: visible;
    z-index: 2;
    .text-path{
        
    stroke: url(#gradation-1);
    }
}

#svg-logo-draw-2 {
    display: block;
    width: rem(284);
    height: rem(153);
    position: absolute;
    overflow: visible;
    top: rem(77);
    left: rem(122);
    z-index: 1;
    .text-path{
        
        stroke: url(#gradation-2);
        }
}

#svg-logo-draw-3 {
    display: block;
    width: rem(368);
    height: rem(324);
    position: absolute;
    overflow: visible;
    top: rem(136);
    left: rem(80);
    z-index: 1;
    .text-path{
        
        stroke: url(#gradation-3);
        }
}

#scroll-pin-2{
    &.-hide{
        transform: translateY(50px);
        filter: blur(3px);
        opacity: 0;
    }
}

#scroll-pin-3{
    &.-hide{
        transform: translateY(50px);
        filter: blur(3px);
        opacity: 0;
    }
}


#blob-wrapper{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#blob-1 {
    position: absolute;
    z-index: 0;
    right: rem(140);
    top: rem(-665);
    opacity: 1;
    border-radius: 59% 41% 58% 42% / 72% 72% 28% 28%;
    width: rem(300);
    height: rem(300);
    background-color: #dcf5f4;
    animation: transform 8s ease-in-out infinite both alternate;
    fill : #fff;
}


#blob-2 {
    width: rem(700);
    height: rem(700);
    border-radius: 50%;
    background-color: #dcf5f4;
    position: absolute;
    left: rem(-470);
    top: rem(-15);
    transform-origin: 50% 50%;
    border-radius: 59% 41% 58% 42% / 72% 72% 28% 28%;
    animation: transform 10s ease-in-out infinite both alternate;
    fill : #fff;
}

#blob-3 {
    width: rem(700);
    height: rem(500);
    border-radius: 50%;
    background-color: #dcf5f4;
    position: absolute;
    right: 0;
    top: rem(687);
    transform-origin: 50% 50%;
    //border-radius: 59% 41% 58% 42% / 72% 72% 28% 28%;
    //animation: transform 10s ease-in-out infinite both alternate;
    fill : #fff;
}

@keyframes transform {
    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }
    20% {
        border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
    }
    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
    }
    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
    }
    80% {
        border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
    }
}